Repository tlongeri/bazel, changes with the owners that CODEOWNERS names for each.
All owners: @ahumesky, @ted-xie, @kevin1e100, @bazelbuild/rules_apple-team, @allevato, @davidgoldman, @dmaclach, @kelvinchan-google, @reinhillman, @thomasvl, @Wyverald, @meteorcloudy, @gregestren, @philomathing, @fweikert, @oquenchil, @bazelbuild/java-team, @bazelbuild/intellij, @asmundak, @lberki, @brandjon, @tetromino, @bazelbuild/configurability, @bazelbuild/remote-execution

Merge the cmdline and cmdline-primitive targets
  src/main/java/com/google/devtools/build/lib/actions/BUILD
  src/main/java/com/google/devtools/build/lib/analysis/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/repository/cache/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/repository/downloader/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/rules/cpp/BUILD
  src/main/java/com/google/devtools/build/lib/cmdline/BUILD
  src/main/java/com/google/devtools/build/lib/packages/metrics/BUILD
  src/main/java/com/google/devtools/build/lib/rules/BUILD
  src/main/java/com/google/devtools/build/lib/runtime/commands/info/BUILD
  src/main/java/com/google/devtools/build/lib/sandbox/BUILD
  src/test/java/com/google/devtools/build/lib/analysis/testing/BUILD
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BUILD
  src/test/java/com/google/devtools/build/lib/bazel/rules/BUILD
  src/test/java/com/google/devtools/build/lib/rules/android/BUILD
  src/test/java/com/google/devtools/build/lib/rules/cpp/BUILD
  src/test/java/com/google/devtools/build/lib/rules/java/BUILD
  src/test/java/com/google/devtools/build/lib/rules/proto/BUILD
  src/test/java/com/google/devtools/build/lib/testutil/BUILD
Owners: @bazelbuild/configurability, @Wyverald, @meteorcloudy, @lberki, @ahumesky, @ted-xie, @oquenchil

Update module names in tests to follow validation rules
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BazelModuleInspectorFunctionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BzlmodRepoRuleHelperTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/DiscoveryTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileFunctionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/SelectionTest.java
  src/test/java/com/google/devtools/build/lib/rules/repository/RepositoryDelegatorTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/RegisteredExecutionPlatformsFunctionTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/RegisteredToolchainsFunctionTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/RepositoryMappingFunctionTest.java
  src/test/py/bazel/bzlmod/bazel_module_test.py
Owners: @Wyverald, @meteorcloudy

Add retries for builds using `--watchfs` to work around a race in processing of `inotify` events.
  src/test/java/com/google/devtools/build/lib/skyframe/BUILD
  src/test/java/com/google/devtools/build/lib/skyframe/LocalDiffAwarenessIntegrationTest.java
Owners: none

Default only necessary tool paths.
  src/main/java/com/google/devtools/build/lib/rules/cpp/CcToolchainProviderHelper.java
Owners: @lberki

[credentialhelper] Implement invoking credential helper as subprocess
  src/main/java/com/google/devtools/build/lib/authandtls/credentialhelper/BUILD
  src/main/java/com/google/devtools/build/lib/authandtls/credentialhelper/CredentialHelper.java
  src/main/java/com/google/devtools/build/lib/authandtls/credentialhelper/CredentialHelperEnvironment.java
  src/main/java/com/google/devtools/build/lib/authandtls/credentialhelper/GetCredentialsResponse.java
  src/test/java/com/google/devtools/build/lib/authandtls/credentialhelper/BUILD
  src/test/java/com/google/devtools/build/lib/authandtls/credentialhelper/CredentialHelperTest.java
  src/test/java/com/google/devtools/build/lib/authandtls/credentialhelper/test_credential_helper.py
Owners: none

Have `RewindableGraphInconsistencyReceiver` track stats and only log the first of each type of inconsistency.
  src/main/java/com/google/devtools/build/lib/skyframe/rewinding/BUILD
  src/main/java/com/google/devtools/build/lib/skyframe/rewinding/RewindableGraphInconsistencyReceiver.java
  src/main/java/com/google/devtools/build/skyframe/GraphInconsistencyReceiver.java
  src/main/java/com/google/devtools/build/skyframe/graph_inconsistency.proto
Owners: none

Rewrite of C++ First Build
  site/en/tutorials/cpp.md
  site/en/tutorials/cpp_dependency.md
  site/en/tutorials/cpp_labels.md
Owners: @gregestren, @philomathing, @fweikert

Reimplement enforce_min_sdk_floor with built-in library and add to BUILD files
  tools/android/BUILD
  tools/android/BUILD.tools
  tools/android/enforce_min_sdk_floor.py
  tools/android/enforce_min_sdk_floor_test.py
Owners: @ahumesky, @ted-xie

Prevent crash while handling exception in JavaCompileAction.
  src/main/java/com/google/devtools/build/lib/rules/java/JavaCompileAction.java
Owners: @lberki

Fix Markdown so this list renders correctly and fix a typo.
  site/en/docs/bazel-and-java.md
Owners: @gregestren, @philomathing, @fweikert

Automated rollback of commit 2f3be62c8368589c64896f3933a7dbbb6ed487a4.
  src/main/java/com/google/devtools/build/lib/events/ExtendedEventHandler.java
  src/main/java/com/google/devtools/build/lib/skyframe/SequencedSkyframeExecutor.java
  src/main/java/com/google/devtools/build/lib/skyframe/SkyframeExecutor.java
  src/main/java/com/google/devtools/build/skyframe/EventFilter.java
  src/main/java/com/google/devtools/build/skyframe/SkyFunctionEnvironment.java
  src/test/java/com/google/devtools/build/lib/skyframe/SequencedSkyframeExecutorTest.java
Owners: none

Update maintainer of server rules.
  site/en/contribute/maintainers-guide.md
Owners: @gregestren, @philomathing, @fweikert

Start license attestations for third_party code with LICENSE but no private BUILD
  tools/compliance/BUILD
  tools/distributions/distribution_rules.bzl
Owners: none

Post AnalysisPhaseCompleteEvent for Skymeld.
  src/main/java/com/google/devtools/build/lib/analysis/AnalysisOperationWatcher.java
  src/main/java/com/google/devtools/build/lib/analysis/AnalysisPhaseCompleteEvent.java
  src/main/java/com/google/devtools/build/lib/analysis/BUILD
  src/main/java/com/google/devtools/build/lib/analysis/BuildView.java
  src/main/java/com/google/devtools/build/lib/buildtool/AnalysisAndExecutionPhaseRunner.java
  src/main/java/com/google/devtools/build/lib/buildtool/AnalysisPhaseRunner.java
  src/main/java/com/google/devtools/build/lib/runtime/UiEventHandler.java
  src/main/java/com/google/devtools/build/lib/skyframe/BUILD
  src/main/java/com/google/devtools/build/lib/skyframe/BuildDriverFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/SkyframeBuildView.java
  src/main/java/com/google/devtools/build/lib/skyframe/SkyframeErrorProcessor.java
  src/main/java/com/google/devtools/build/lib/skyframe/TopLevelStatusEvents.java
  src/test/java/com/google/devtools/build/lib/analysis/util/BuildViewForTesting.java
  src/test/java/com/google/devtools/build/lib/buildtool/BUILD
  src/test/java/com/google/devtools/build/lib/buildtool/SkymeldBuildIntegrationTest.java
Owners: @bazelbuild/configurability

Validate module names and user-provided repo names
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionEvalStarlarkThreadContext.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileGlobals.java
  src/main/java/com/google/devtools/build/lib/cmdline/RepositoryName.java
  src/main/java/com/google/devtools/build/lib/packages/WorkspaceFactory.java
  src/main/java/com/google/devtools/build/lib/packages/WorkspaceFactoryHelper.java
  src/main/java/com/google/devtools/build/lib/packages/WorkspaceGlobals.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionResolutionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileFunctionTest.java
  src/test/java/com/google/devtools/build/lib/blackbox/tests/workspace/WorkspaceBlackBoxTest.java
  src/test/java/com/google/devtools/build/lib/cmdline/RepositoryNameTest.java
  src/test/java/com/google/devtools/build/lib/packages/WorkspaceFactoryTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/WorkspaceFileFunctionTest.java
Owners: @Wyverald, @meteorcloudy

Add a constant for objcopy action
  src/main/java/com/google/devtools/build/lib/rules/cpp/CppActionNames.java
  src/main/starlark/builtins_bzl/common/cc/action_names.bzl
  src/test/java/com/google/devtools/build/lib/packages/util/MockCcSupport.java
Owners: @lberki

BEGIN_PUBLIC Move enforce_min_sdk_floor tool. END_PUBLIC
  tools/android/BUILD
  tools/android/BUILD.tools
  tools/android/enforce_min_sdk_floor.py
  tools/android/enforce_min_sdk_floor_test.py
Owners: @ahumesky, @ted-xie

Fix deserialization/wrapping of ProtoLangToolchainProvider
  src/main/java/com/google/devtools/build/lib/rules/proto/ProtoLangToolchainProvider.java
  src/test/java/com/google/devtools/build/lib/rules/proto/BUILD
  src/test/java/com/google/devtools/build/lib/rules/proto/ProtoLangToolchainTest.java
Owners: @lberki

Disable `LocalDiffAwarenessIntegrationTest` on macOS.
  src/test/java/com/google/devtools/build/lib/skyframe/LocalDiffAwarenessIntegrationTest.java
Owners: none

[remote] Improve .netrc test in RemoteModuleTest
  src/test/java/com/google/devtools/build/lib/remote/RemoteModuleTest.java
Owners: @bazelbuild/remote-execution

Add option `--experimental_dynamic_exclude_tools` that prevents local dynamic execution for actions for tools.
  src/main/java/com/google/devtools/build/lib/dynamic/DynamicExecutionOptions.java
  src/main/java/com/google/devtools/build/lib/dynamic/DynamicSpawnStrategy.java
  src/test/java/com/google/devtools/build/lib/dynamic/DynamicSpawnStrategyUnitTest.java
Owners: none

Fix Dexing.java after https://github.com/bazelbuild/bazel/commit/883ce21af30c0e1b331d749c4f20c63f3f5c36df.
  src/test/java/com/google/devtools/build/android/dexer/DexBuilderTest.java
  src/test/java/com/google/devtools/build/android/dexer/DexConversionEnqueuerTest.java
  src/test/java/com/google/devtools/build/android/dexer/DexFileAggregatorTest.java
  src/test/java/com/google/devtools/build/android/dexer/DexFileMergerTest.java
  src/test/java/com/google/devtools/build/android/dexer/DexFileSplitterTest.java
  src/test/java/com/google/devtools/build/android/dexer/DexLimitTrackerTest.java
  src/tools/android/java/com/google/devtools/build/android/dexer/Dexing.java
Owners: @ahumesky, @ted-xie, @kevin1e100

Replace uses of `cfg = "host"` with `cfg = "exec"`
  site/en/docs/creating-workers.md
  site/en/rules/aspects.md
  src/embedded_tools.bzl
  src/main/res/winsdk_toolchain.bzl
  src/test/java/com/google/devtools/build/skydoc/testdata/function_wrap_multiple_lines_test/input.bzl
  src/test/java/com/google/devtools/build/skydoc/testdata/misc_apis_test/input.bzl
  src/test/py/bazel/bazel_windows_cpp_test.py
  src/test/py/bazel/bazel_windows_test.py
  src/test/py/bazel/native_test.bzl
  src/test/shell/bazel/apple/apple_common.sh
  src/test/shell/bazel/bazel_rules_test.sh
  src/test/shell/bazel/cc_integration_test.sh
  src/test/shell/bazel/remote/build_without_the_bytes_test.sh
  src/test/shell/bazel/starlark_rule_test.sh
  src/test/shell/integration/action_aspect_test.sh
  src/test/shell/integration/py_args_escaping_test.sh
  src/test/shell/integration/run_test.sh
  src/test/shell/integration/starlark_dependency_pruning_test.sh
  src/test/shell/integration/validation_actions_test.sh
  tools/build_defs/hash/hash.bzl
  tools/build_defs/pkg/pkg.bzl
  tools/ctexplain/lib_test.py
  tools/jdk/java_toolchain_alias.bzl
Owners: @gregestren, @philomathing, @fweikert, @allevato, @davidgoldman, @dmaclach, @kelvinchan-google, @reinhillman, @thomasvl, @bazelbuild/rules_apple-team, @bazelbuild/remote-execution

target pattern file: allow comments
  src/main/java/com/google/devtools/build/lib/runtime/commands/TargetPatternsHelper.java
  src/test/shell/integration/target_pattern_file_test.sh
Owners: none

Reinstate legacy worker flag file behaviour when not using --experimental_worker_strict_flagfiles.
  src/main/java/com/google/devtools/build/lib/worker/WorkerParser.java
  src/main/java/com/google/devtools/build/lib/worker/WorkerSpawnRunner.java
  src/test/java/com/google/devtools/build/lib/worker/WorkerParserTest.java
Owners: none

Implement native analysis_test call.
  src/main/java/com/google/devtools/build/lib/analysis/starlark/StarlarkRuleClassFunctions.java
  src/main/java/com/google/devtools/build/lib/packages/semantics/BuildLanguageOptions.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/StarlarkRuleFunctionsApi.java
  src/main/java/com/google/devtools/build/skydoc/fakebuildapi/FakeStarlarkRuleFunctionsApi.java
  src/test/java/com/google/devtools/build/lib/starlark/StarlarkRuleClassFunctionsTest.java
Owners: @bazelbuild/configurability

Allow string_list flags to be set via repeated flag uses
  src/main/java/com/google/devtools/build/lib/analysis/starlark/StarlarkConfig.java
  src/main/java/com/google/devtools/build/lib/packages/BuildSetting.java
  src/main/java/com/google/devtools/build/lib/runtime/StarlarkOptionsParser.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/StarlarkConfigApi.java
  src/main/java/com/google/devtools/build/skydoc/fakebuildapi/FakeConfigApi.java
  src/test/java/com/google/devtools/build/lib/rules/config/ConfigSettingTest.java
  src/test/java/com/google/devtools/build/lib/starlark/StarlarkOptionsParsingTest.java
  src/test/java/com/google/devtools/build/lib/starlark/StarlarkRuleContextTest.java
Owners: @bazelbuild/configurability

Internal change.
  src/test/java/com/google/devtools/build/lib/packages/util/MockProtoSupport.java
Owners: none

Fix missing `success` field in `repository_ctx.download`
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkRepositoryContext.java
Owners: none

Add pure C support to unix cc toolchain (#2954)
  tools/cpp/unix_cc_toolchain_config.bzl
Owners: none

Make --discard_analysis_cache work with Skymeld.
  src/main/java/com/google/devtools/build/lib/analysis/BuildView.java
  src/main/java/com/google/devtools/build/lib/skyframe/BuildDriverFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/SkyframeBuildView.java
Owners: @bazelbuild/configurability

Incrementally handle afterAnalysis of some BlazeModules.
  src/main/java/com/google/devtools/build/lib/buildtool/AnalysisAndExecutionPhaseRunner.java
  src/main/java/com/google/devtools/build/lib/runtime/BlazeModule.java
  src/main/java/com/google/devtools/build/lib/skyframe/TopLevelStatusEvents.java
Owners: none

[credentialhelper] Add parser for flag syntax
  src/main/java/com/google/devtools/build/lib/authandtls/AuthAndTLSOptions.java
  src/main/java/com/google/devtools/build/lib/authandtls/credentialhelper/CredentialHelper.java
  src/main/java/com/google/devtools/build/lib/remote/BUILD
  src/main/java/com/google/devtools/build/lib/remote/RemoteModule.java
  src/test/java/com/google/devtools/build/lib/authandtls/BUILD
  src/test/java/com/google/devtools/build/lib/authandtls/UnresolvedScopedCredentialHelperConverterTest.java
  src/test/java/com/google/devtools/build/lib/remote/BUILD
  src/test/java/com/google/devtools/build/lib/remote/RemoteModuleTest.java
Owners: @bazelbuild/remote-execution

[Docs] Fix typo in glossary docs
  site/en/reference/glossary.md
Owners: @gregestren, @philomathing, @fweikert

Replace `BugReport.NonFatalBugReport` marker interface with an explicit API to report non-fatal crashes.
  src/main/java/com/google/devtools/build/lib/bugreport/BugReport.java
  src/main/java/com/google/devtools/build/lib/bugreport/BugReporter.java
  src/main/java/com/google/devtools/build/lib/query2/query/TargetEdgeErrorObserver.java
  src/test/java/com/google/devtools/build/lib/bugreport/BugReportTest.java
  src/test/java/com/google/devtools/build/lib/buildtool/util/BuildIntegrationTestCase.java
  src/test/java/com/google/devtools/build/lib/skyframe/ActionTemplateExpansionFunctionTest.java
  src/test/java/com/google/devtools/build/lib/testutil/TestInterruptingBugReporter.java
  src/test/java/com/google/devtools/build/lib/util/ThreadUtilsTest.java
Owners: none

Fix analyze-profile phase summary format
  src/main/java/com/google/devtools/build/lib/profiler/output/PhaseText.java
  src/main/java/com/google/devtools/build/lib/profiler/output/TextPrinter.java
Owners: none

Tighten up ConfiguredTargetKey API by adding fromConfiguredTarget
  src/main/java/com/google/devtools/build/lib/analysis/TargetCompleteEvent.java
  src/main/java/com/google/devtools/build/lib/buildtool/BuildResultPrinter.java
  src/main/java/com/google/devtools/build/lib/buildtool/ExecutionTool.java
  src/main/java/com/google/devtools/build/lib/skyframe/ConfiguredTargetKey.java
  src/main/java/com/google/devtools/build/lib/skyframe/TargetCompletionValue.java
  src/main/java/com/google/devtools/build/lib/skyframe/TestCompletionValue.java
  src/test/java/com/google/devtools/build/lib/analysis/util/AnalysisTestCase.java
  src/test/java/com/google/devtools/build/lib/analysis/util/BuildViewForTesting.java
  src/test/java/com/google/devtools/build/lib/analysis/util/BuildViewTestCase.java
  src/test/java/com/google/devtools/build/lib/skyframe/SequencedSkyframeExecutorTest.java
Owners: @bazelbuild/configurability

Make a non-source artifact having a `SourceArtifactException` a hard crash instead of a bug report.
  src/main/java/com/google/devtools/build/lib/skyframe/ActionExecutionFunction.java
Owners: none

Bzl-visibility: Add "everyone" value for allowlist
  src/main/java/com/google/devtools/build/lib/analysis/starlark/BazelBuildApiGlobals.java
  src/main/java/com/google/devtools/build/lib/packages/semantics/BuildLanguageOptions.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/StarlarkBuildApiGlobals.java
  src/test/java/com/google/devtools/build/lib/skyframe/BzlLoadFunctionTest.java
Owners: @bazelbuild/configurability

Add CommandLinePathFactory to CommandEnvironment
  src/main/java/com/google/devtools/build/lib/runtime/CommandEnvironment.java
  src/main/java/com/google/devtools/build/lib/runtime/CommandLinePathFactory.java
Owners: none

CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# Order is important; the last matching pattern takes the most precedence.

# When someone opens a pull request that only modifies files in directory, only
# component owners and not the global owner(s) will be requested for a review.

# Syntax: https://help.github.com/articles/about-codeowners/

# Use individual usernames instead of teams (like @bazelbuild/android) for
# auto-assignment to work, unless everyone in the team has write permissions to the repository.
# See https://github.community/t5/How-to-use-Git-and-GitHub/CODEOWNERS-works-with-users-but-not-teams/td-p/4986

# Component owners
# ----------------

# Android

# android/ directory anywhere in the repository
android/ @ahumesky @ted-xie

/src/tools/android/java/com/google/devtools/build/android/desugar/ @ahumesky @ted-xie @kevin1e100

/src/test/java/com/google/devtools/build/android/desugar/ @ahumesky @ted-xie @kevin1e100

/src/tools/android/java/com/google/devtools/build/android/dexer/ @ahumesky @ted-xie @kevin1e100

/src/test/java/com/google/devtools/build/android/dexer/ @ahumesky @ted-xie @kevin1e100

# Apple

/src/main/java/com/google/devtools/build/lib/rules/apple @bazelbuild/rules_apple-team
/src/test/java/com/google/devtools/build/lib/rules/apple @bazelbuild/rules_apple-team
/src/test/shell/bazel/apple @allevato @davidgoldman @dmaclach @kelvinchan-google @reinhillman @thomasvl @bazelbuild/rules_apple-team
/tools/osx @bazelbuild/rules_apple-team

# Bzlmod

/src/main/java/com/google/devtools/build/lib/bazel/bzlmod @Wyverald @meteorcloudy
/src/test/java/com/google/devtools/build/lib/bazel/bzlmod @Wyverald @meteorcloudy
/src/test/py/bazel/bzlmod @Wyverald @meteorcloudy

# Documentation

/site @gregestren @philomathing @fweikert

# C++

/src/tools/cpp @oquenchil

/src/test/shell/bazel/cpp @oquenchil

/src/test/java/com/google/devtools/build/lib/rules/cpp/ @oquenchil

/src/main/java/com/google/devtools/build/lib/rules/cpp/ @oquenchil

# Java

/src/java_tools/buildjar/ @bazelbuild/java-team

/src/main/java/com/google/devtools/build/lib/ideinfo/ @bazelbuild/intellij

/src/tools/singlejar/ @asmundak

# Execution and I/O related code

/src/main/java/com/google/devtools/build/lib/rules/ @lberki

# Starlark

/src/main/java/net/starlark/java/ @brandjon @tetromino

/tools/coverage/ @lberki
/tools/test/collect_coverage.sh @lberki
/tools/test/collect_cc_coverage.sh @lberki
/tools/test/CoverageOutputGenerator/ @lberki

# Configurability

/src/main/java/com/google/devtools/build/lib/analysis @bazelbuild/configurability
/src/test/java/com/google/devtools/build/lib/analysis @bazelbuild/configurability
/src/main/java/com/google/devtools/build/lib/rules/platform @bazelbuild/configurability
/src/test/java/com/google/devtools/build/lib/rules/platform @bazelbuild/configurability
/tools/platforms @bazelbuild/configurability

# Remote Execution

/src/main/java/com/google/devtools/build/lib/remote @bazelbuild/remote-execution
/src/test/java/com/google/devtools/build/lib/remote @bazelbuild/remote-execution
/src/test/py/bazel/remote @bazelbuild/remote-execution
/src/test/shell/bazel/remote @bazelbuild/remote-execution
/src/tools/remote @bazelbuild/remote-execution
/third_party/remoteapis/build/bazel/remote @bazelbuild/remote-execution
