Repository tlongeri/bazel, changes with the owners that CODEOWNERS names for each.
All owners: @ahumesky, @ted-xie, @kevin1e100, @bazelbuild/rules_apple-team, @allevato, @davidgoldman, @dmaclach, @kelvinchan-google, @reinhillman, @thomasvl, @Wyverald, @meteorcloudy, @gregestren, @philomathing, @fweikert, @oquenchil, @bazelbuild/java-team, @bazelbuild/intellij, @asmundak, @lberki, @brandjon, @tetromino, @bazelbuild/configurability, @bazelbuild/remote-execution

Add @Nullable annotations where they were missing.
  src/main/java/com/google/devtools/build/lib/collect/compacthashmap/CompactHashMap.java
Owners: none

Add @Nullable annotations where they were missing.
  src/main/java/com/google/devtools/build/lib/bazel/repository/downloader/UrlRewriter.java
Owners: none

Add @Nullable annotations where they were missing.
  src/main/java/com/google/devtools/build/lib/collect/nestedset/NestedSet.java
Owners: none

Add @Nullable annotations where they were missing.
  src/main/java/com/google/devtools/build/lib/repository/ExternalPackageHelper.java
Owners: none

Add @Nullable annotations where they were missing.
  src/main/java/com/google/devtools/build/lib/remote/ByteStreamBuildEventArtifactUploader.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteModule.java
Owners: @bazelbuild/remote-execution

Add @Nullable annotations where they were missing.
  src/main/java/com/google/devtools/build/lib/concurrent/BlockingStack.java
Owners: none

Add @Nullable annotations where they were missing.
  src/main/java/com/google/devtools/build/lib/bazel/coverage/BazelCoverageReportModule.java
Owners: none

Add @Nullable annotations where they were missing.
  src/main/java/com/google/devtools/build/lib/rules/BUILD
  src/main/java/com/google/devtools/build/lib/rules/test/TestSuite.java
Owners: @lberki

Add @Nullable annotations where they were missing.
  src/main/java/com/google/devtools/build/lib/rules/AliasConfiguredTarget.java
Owners: @lberki

Add @Nullable annotations where they were missing.
  src/main/java/com/google/devtools/build/lib/buildeventservice/BazelBuildEventServiceModule.java
Owners: none

Performs the unconditional finalization steps after the end of execution for skymeld too.
  src/main/java/com/google/devtools/build/lib/buildtool/BuildTool.java
  src/main/java/com/google/devtools/build/lib/buildtool/ExecutionTool.java
Owners: none

Add @Nullable annotations where they were missing.
  src/main/java/com/google/devtools/build/lib/analysis/test/TestResult.java
  src/main/java/com/google/devtools/build/lib/analysis/test/TestTargetExecutionSettings.java
Owners: @bazelbuild/configurability

Add @Nullable annotations where they were missing.
  src/main/java/com/google/devtools/build/lib/sandbox/SandboxModule.java
  src/main/java/com/google/devtools/build/lib/sandbox/SymlinkedSandboxedSpawn.java
Owners: none

Add @Nullable annotations where they were missing.
  src/main/java/com/google/devtools/build/lib/rules/genrule/GenRuleBase.java
Owners: @lberki

Add @Nullable annotations where they were missing.
  src/main/java/com/google/devtools/build/lib/rules/platform/Toolchain.java
Owners: @bazelbuild/configurability

Add @Nullable annotations where they were missing.
  src/main/java/com/google/devtools/build/lib/analysis/configuredtargets/AbstractConfiguredTarget.java
  src/main/java/com/google/devtools/build/lib/analysis/configuredtargets/EnvironmentGroupConfiguredTarget.java
  src/main/java/com/google/devtools/build/lib/analysis/configuredtargets/InputFileConfiguredTarget.java
  src/main/java/com/google/devtools/build/lib/analysis/configuredtargets/PackageGroupConfiguredTarget.java
Owners: @bazelbuild/configurability

Add @Nullable annotations where they were missing.
  src/main/java/net/starlark/java/syntax/Resolver.java
Owners: @brandjon, @tetromino

Add @Nullable annotations where they were missing.
  src/main/java/com/google/devtools/build/lib/pkgcache/PathPackageLocator.java
Owners: none

Add @Nullable annotations where they were missing.
  src/main/java/com/google/devtools/build/lib/analysis/actions/ParameterFileWriteAction.java
Owners: @bazelbuild/configurability

Add @Nullable annotations where they were missing.
  src/main/java/com/google/devtools/build/lib/rules/genquery/GenQuery.java
Owners: @lberki

Add @Nullable annotations where they were missing.
  src/main/java/com/google/devtools/build/lib/actions/AbstractAction.java
  src/main/java/com/google/devtools/build/lib/actions/ActionCacheChecker.java
  src/main/java/com/google/devtools/build/lib/actions/ActionExecutedEvent.java
  src/main/java/com/google/devtools/build/lib/actions/ActionInputMap.java
  src/main/java/com/google/devtools/build/lib/actions/ArtifactFactory.java
  src/main/java/com/google/devtools/build/lib/actions/ArtifactOwner.java
  src/main/java/com/google/devtools/build/lib/actions/BUILD
  src/main/java/com/google/devtools/build/lib/actions/BaseSpawn.java
  src/main/java/com/google/devtools/build/lib/actions/ExecutionRequirements.java
  src/main/java/com/google/devtools/build/lib/actions/FailAction.java
  src/main/java/com/google/devtools/build/lib/actions/FileStateValue.java
  src/main/java/com/google/devtools/build/lib/actions/FileValue.java
  src/main/java/com/google/devtools/build/lib/actions/LocalHostResourceManagerDarwin.java
  src/main/java/com/google/devtools/build/lib/actions/LocalHostResourceManagerLinux.java
  src/main/java/com/google/devtools/build/lib/actions/MiddlemanAction.java
  src/main/java/com/google/devtools/build/lib/actions/MiddlemanFactory.java
Owners: none

Add @Nullable annotations where they were missing.
  src/main/java/com/google/devtools/build/lib/bazel/rules/java/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/rules/java/BazelJavaRuleClasses.java
  src/main/java/com/google/devtools/build/lib/bazel/rules/java/BazelJavaSemantics.java
Owners: none

adding files for grpc 1.47.0 upgrade
  third_party/grpc-java/BUILD
  third_party/grpc-java/grpc-api-1.47.0.jar
  third_party/grpc-java/grpc-auth-1.47.0.jar
  third_party/grpc-java/grpc-context-1.47.0.jar
  third_party/grpc-java/grpc-core-1.47.0.jar
  third_party/grpc-java/grpc-netty-1.47.0.jar
  third_party/grpc-java/grpc-protobuf-1.47.0.jar
  third_party/grpc-java/grpc-protobuf-lite-1.47.0.jar
  third_party/grpc-java/grpc-stub-1.47.0.jar
  third_party/grpc/BUILD
  third_party/grpc/grpc_1.47.0.patch
  third_party/grpc/grpc_1.47.0.win_arm64.patch
Owners: none

Add @Nullable annotations where they were missing.
  src/main/java/com/google/devtools/build/lib/rules/BUILD
  src/main/java/com/google/devtools/build/lib/rules/filegroup/Filegroup.java
Owners: @lberki

Add @Nullable annotations where they were missing.
  src/main/java/com/google/devtools/build/lib/packages/AspectsListBuilder.java
  src/main/java/com/google/devtools/build/lib/packages/Attribute.java
  src/main/java/com/google/devtools/build/lib/packages/AttributeContainer.java
  src/main/java/com/google/devtools/build/lib/packages/BazelStarlarkEnvironment.java
  src/main/java/com/google/devtools/build/lib/packages/BuildType.java
  src/main/java/com/google/devtools/build/lib/packages/ConstantRuleVisibility.java
  src/main/java/com/google/devtools/build/lib/packages/InputFile.java
  src/main/java/com/google/devtools/build/lib/packages/NativeInfo.java
  src/main/java/com/google/devtools/build/lib/packages/PackageSpecification.java
  src/main/java/com/google/devtools/build/lib/packages/Rule.java
  src/main/java/com/google/devtools/build/lib/packages/RuleClass.java
  src/main/java/com/google/devtools/build/lib/packages/SelectorList.java
  src/main/java/com/google/devtools/build/lib/packages/SelectorValue.java
  src/main/java/com/google/devtools/build/lib/packages/SnapshottableBiMap.java
  src/main/java/com/google/devtools/build/lib/packages/StarlarkInfo.java
  src/main/java/com/google/devtools/build/lib/packages/StructImpl.java
  src/main/java/com/google/devtools/build/lib/packages/TargetUtils.java
  src/main/java/com/google/devtools/build/lib/packages/TestSize.java
  src/main/java/com/google/devtools/build/lib/packages/TestTimeout.java
  src/main/java/com/google/devtools/build/lib/packages/WorkspaceFileValue.java
Owners: none

Add @Nullable annotations where they were missing.
  src/main/java/com/google/devtools/build/lib/skyframe/serialization/autocodec/AutoCodecProcessor.java
  src/main/java/com/google/devtools/build/lib/skyframe/serialization/autocodec/BUILD
Owners: none

Add @Nullable annotations where they were missing.
  src/main/java/com/google/devtools/build/lib/collect/ImmutableSortedKeyListMultimap.java
Owners: none

Add @Nullable annotations where they were missing.
  src/main/java/com/google/devtools/build/lib/rules/cpp/proto/CcProtoAspect.java
Owners: @lberki

Remove the unused Label argument from PackageGroupsRuleVisibility
  src/main/java/com/google/devtools/build/lib/packages/DefaultPackageArguments.java
  src/main/java/com/google/devtools/build/lib/packages/PackageGroupsRuleVisibility.java
  src/main/java/com/google/devtools/build/lib/packages/PackageUtils.java
  src/main/java/com/google/devtools/build/lib/packages/RuleClass.java
  src/main/java/com/google/devtools/build/lib/packages/StarlarkNativeModule.java
Owners: none

Add @Nullable annotations where they were missing.
  src/main/java/com/google/devtools/build/lib/rules/proto/ProtoLangToolchainProvider.java
Owners: @lberki

Add @Nullable annotations where they were missing.
  src/main/java/com/google/devtools/build/lib/exec/BUILD
  src/main/java/com/google/devtools/build/lib/exec/TestXmlOutputParser.java
Owners: none

Add @Nullable annotations where they were missing.
  src/main/java/com/google/devtools/build/lib/analysis/stringtemplate/BUILD
  src/main/java/com/google/devtools/build/lib/analysis/stringtemplate/TemplateExpander.java
Owners: @bazelbuild/configurability

Add @Nullable annotations where they were missing.
  src/main/java/com/google/devtools/build/lib/windows/BUILD
  src/main/java/com/google/devtools/build/lib/windows/WindowsSubprocessFactory.java
Owners: none

Add @Nullable annotations where they were missing.
  src/main/java/com/google/devtools/build/lib/bazel/rules/cpp/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/rules/cpp/BazelCppRuleClasses.java
  src/main/java/com/google/devtools/build/lib/bazel/rules/cpp/BazelCppSemantics.java
Owners: none

Add @Nullable annotations where they were missing.
  src/main/java/net/starlark/java/cmd/BUILD
  src/main/java/net/starlark/java/cmd/Main.java
Owners: @brandjon, @tetromino

Add @Nullable annotations where they were missing.
  src/main/java/com/google/devtools/build/lib/analysis/BUILD
  src/main/java/com/google/devtools/build/lib/analysis/config/CoreOptionConverters.java
  src/main/java/com/google/devtools/build/lib/analysis/config/RunUnderConverter.java
Owners: @bazelbuild/configurability

Add @Nullable annotations where they were missing.
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelModuleInspectorFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelModuleResolutionFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BzlmodRepoRuleHelperImpl.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionResolutionFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/SingleExtensionUsagesFunction.java
Owners: @Wyverald, @meteorcloudy

Add @Nullable annotations where they were missing.
  src/main/java/com/google/devtools/common/options/GenericTypeHelper.java
  src/main/java/com/google/devtools/common/options/InvocationPolicyEnforcer.java
  src/main/java/com/google/devtools/common/options/OptionDefinition.java
  src/main/java/com/google/devtools/common/options/OptionValueDescription.java
  src/main/java/com/google/devtools/common/options/OptionsParserImpl.java
  src/main/java/com/google/devtools/common/options/ShellQuotedParamsFilePreProcessor.java
Owners: none

Add @Nullable annotations where they were missing.
  src/main/java/com/google/devtools/build/lib/rules/BUILD
  src/main/java/com/google/devtools/build/lib/rules/repository/Bind.java
  src/main/java/com/google/devtools/build/lib/rules/repository/NewLocalRepositoryFunction.java
  src/main/java/com/google/devtools/build/lib/rules/repository/NewRepositoryFileHandler.java
  src/main/java/com/google/devtools/build/lib/rules/repository/RepositoryDelegatorFunction.java
  src/main/java/com/google/devtools/build/lib/rules/repository/RepositoryFunction.java
  src/main/java/com/google/devtools/build/lib/rules/repository/WorkspaceFileHelper.java
Owners: @lberki

Add @Nullable annotations where they were missing.
  src/main/java/com/google/devtools/build/lib/rules/BUILD
  src/main/java/com/google/devtools/build/lib/rules/extra/ExtraActionFactory.java
Owners: @lberki

CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# Order is important; the last matching pattern takes the most precedence.

# When someone opens a pull request that only modifies files in directory, only
# component owners and not the global owner(s) will be requested for a review.

# Syntax: https://help.github.com/articles/about-codeowners/

# Use individual usernames instead of teams (like @bazelbuild/android) for
# auto-assignment to work, unless everyone in the team has write permissions to the repository.
# See https://github.community/t5/How-to-use-Git-and-GitHub/CODEOWNERS-works-with-users-but-not-teams/td-p/4986

# Component owners
# ----------------

# Android

# android/ directory anywhere in the repository
android/ @ahumesky @ted-xie

/src/tools/android/java/com/google/devtools/build/android/desugar/ @ahumesky @ted-xie @kevin1e100

/src/test/java/com/google/devtools/build/android/desugar/ @ahumesky @ted-xie @kevin1e100

/src/tools/android/java/com/google/devtools/build/android/dexer/ @ahumesky @ted-xie @kevin1e100

/src/test/java/com/google/devtools/build/android/dexer/ @ahumesky @ted-xie @kevin1e100

# Apple

/src/main/java/com/google/devtools/build/lib/rules/apple @bazelbuild/rules_apple-team
/src/test/java/com/google/devtools/build/lib/rules/apple @bazelbuild/rules_apple-team
/src/test/shell/bazel/apple @allevato @davidgoldman @dmaclach @kelvinchan-google @reinhillman @thomasvl @bazelbuild/rules_apple-team
/tools/osx @bazelbuild/rules_apple-team

# Bzlmod

/src/main/java/com/google/devtools/build/lib/bazel/bzlmod @Wyverald @meteorcloudy
/src/test/java/com/google/devtools/build/lib/bazel/bzlmod @Wyverald @meteorcloudy
/src/test/py/bazel/bzlmod @Wyverald @meteorcloudy

# Documentation

/site @gregestren @philomathing @fweikert

# C++

/src/tools/cpp @oquenchil

/src/test/shell/bazel/cpp @oquenchil

/src/test/java/com/google/devtools/build/lib/rules/cpp/ @oquenchil

/src/main/java/com/google/devtools/build/lib/rules/cpp/ @oquenchil

# Java

/src/java_tools/buildjar/ @bazelbuild/java-team

/src/main/java/com/google/devtools/build/lib/ideinfo/ @bazelbuild/intellij

/src/tools/singlejar/ @asmundak

# Execution and I/O related code

/src/main/java/com/google/devtools/build/lib/rules/ @lberki

# Starlark

/src/main/java/net/starlark/java/ @brandjon @tetromino

/tools/coverage/ @lberki
/tools/test/collect_coverage.sh @lberki
/tools/test/collect_cc_coverage.sh @lberki
/tools/test/CoverageOutputGenerator/ @lberki

# Configurability

/src/main/java/com/google/devtools/build/lib/analysis @bazelbuild/configurability
/src/test/java/com/google/devtools/build/lib/analysis @bazelbuild/configurability
/src/main/java/com/google/devtools/build/lib/rules/platform @bazelbuild/configurability
/src/test/java/com/google/devtools/build/lib/rules/platform @bazelbuild/configurability
/tools/platforms @bazelbuild/configurability

# Remote Execution

/src/main/java/com/google/devtools/build/lib/remote @bazelbuild/remote-execution
/src/test/java/com/google/devtools/build/lib/remote @bazelbuild/remote-execution
/src/test/py/bazel/remote @bazelbuild/remote-execution
/src/test/shell/bazel/remote @bazelbuild/remote-execution
/src/tools/remote @bazelbuild/remote-execution
/third_party/remoteapis/build/bazel/remote @bazelbuild/remote-execution
