Repository tlongeri/bazel, changes with the owners that CODEOWNERS names for each.
All owners: @ahumesky, @ted-xie, @kevin1e100, @bazelbuild/rules_apple-team, @allevato, @davidgoldman, @dmaclach, @kelvinchan-google, @reinhillman, @thomasvl, @Wyverald, @meteorcloudy, @gregestren, @philomathing, @fweikert, @oquenchil, @bazelbuild/java-team, @bazelbuild/intellij, @asmundak, @lberki, @brandjon, @tetromino, @bazelbuild/configurability, @bazelbuild/remote-execution

CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# Order is important; the last matching pattern takes the most precedence.

# When someone opens a pull request that only modifies files in directory, only
# component owners and not the global owner(s) will be requested for a review.

# Syntax: https://help.github.com/articles/about-codeowners/

# Use individual usernames instead of teams (like @bazelbuild/android) for
# auto-assignment to work, unless everyone in the team has write permissions to the repository.
# See https://github.community/t5/How-to-use-Git-and-GitHub/CODEOWNERS-works-with-users-but-not-teams/td-p/4986

# Component owners
# ----------------

# Android

# android/ directory anywhere in the repository
android/ @ahumesky @ted-xie

/src/tools/android/java/com/google/devtools/build/android/desugar/ @ahumesky @ted-xie @kevin1e100

/src/test/java/com/google/devtools/build/android/desugar/ @ahumesky @ted-xie @kevin1e100

/src/tools/android/java/com/google/devtools/build/android/dexer/ @ahumesky @ted-xie @kevin1e100

/src/test/java/com/google/devtools/build/android/dexer/ @ahumesky @ted-xie @kevin1e100

# Apple

/src/main/java/com/google/devtools/build/lib/rules/apple @bazelbuild/rules_apple-team
/src/test/java/com/google/devtools/build/lib/rules/apple @bazelbuild/rules_apple-team
/src/test/shell/bazel/apple @allevato @davidgoldman @dmaclach @kelvinchan-google @reinhillman @thomasvl @bazelbuild/rules_apple-team
/tools/osx @bazelbuild/rules_apple-team

# Bzlmod

/src/main/java/com/google/devtools/build/lib/bazel/bzlmod @Wyverald @meteorcloudy
/src/test/java/com/google/devtools/build/lib/bazel/bzlmod @Wyverald @meteorcloudy
/src/test/py/bazel/bzlmod @Wyverald @meteorcloudy

# Documentation

/site @gregestren @philomathing @fweikert

# C++

/src/tools/cpp @oquenchil

/src/test/shell/bazel/cpp @oquenchil

/src/test/java/com/google/devtools/build/lib/rules/cpp/ @oquenchil

/src/main/java/com/google/devtools/build/lib/rules/cpp/ @oquenchil

# Java

/src/java_tools/buildjar/ @bazelbuild/java-team

/src/main/java/com/google/devtools/build/lib/ideinfo/ @bazelbuild/intellij

/src/tools/singlejar/ @asmundak

# Execution and I/O related code

/src/main/java/com/google/devtools/build/lib/rules/ @lberki

# Starlark

/src/main/java/net/starlark/java/ @brandjon @tetromino

/tools/coverage/ @lberki
/tools/test/collect_coverage.sh @lberki
/tools/test/collect_cc_coverage.sh @lberki
/tools/test/CoverageOutputGenerator/ @lberki

# Configurability

/src/main/java/com/google/devtools/build/lib/analysis @bazelbuild/configurability
/src/test/java/com/google/devtools/build/lib/analysis @bazelbuild/configurability
/src/main/java/com/google/devtools/build/lib/rules/platform @bazelbuild/configurability
/src/test/java/com/google/devtools/build/lib/rules/platform @bazelbuild/configurability
/tools/platforms @bazelbuild/configurability

# Remote Execution

/src/main/java/com/google/devtools/build/lib/remote @bazelbuild/remote-execution
/src/test/java/com/google/devtools/build/lib/remote @bazelbuild/remote-execution
/src/test/py/bazel/remote @bazelbuild/remote-execution
/src/test/shell/bazel/remote @bazelbuild/remote-execution
/src/tools/remote @bazelbuild/remote-execution
/third_party/remoteapis/build/bazel/remote @bazelbuild/remote-execution

Add subprocesses metrics collection for `WorkerMetricsCollector`.
  src/main/java/com/google/devtools/build/lib/worker/WorkerMetricsCollector.java
  src/test/java/com/google/devtools/build/lib/worker/WorkerMetricsCollectorTest.java
Owners: none

Add @Nullable annotations where they were missing.
  src/main/java/com/google/devtools/build/lib/analysis/AspectAwareAttributeMapper.java
  src/main/java/com/google/devtools/build/lib/analysis/BUILD
  src/main/java/com/google/devtools/build/lib/analysis/BlazeDirectories.java
  src/main/java/com/google/devtools/build/lib/analysis/BlazeVersionInfo.java
  src/main/java/com/google/devtools/build/lib/analysis/CachingAnalysisEnvironment.java
  src/main/java/com/google/devtools/build/lib/analysis/ConfiguredAspect.java
  src/main/java/com/google/devtools/build/lib/analysis/ConfiguredTargetFactory.java
  src/main/java/com/google/devtools/build/lib/analysis/DependencyKind.java
  src/main/java/com/google/devtools/build/lib/analysis/DependencyResolver.java
  src/main/java/com/google/devtools/build/lib/analysis/LabelExpander.java
  src/main/java/com/google/devtools/build/lib/analysis/OutputGroupInfo.java
  src/main/java/com/google/devtools/build/lib/analysis/RuleContext.java
Owners: @bazelbuild/configurability

Delete unused code
  src/main/starlark/builtins_bzl/common/java/compile_action.bzl
  src/main/starlark/builtins_bzl/common/java/java_common.bzl
Owners: none

Don't store events or posts in non-incremental builds.
  src/main/java/com/google/devtools/build/lib/events/ExtendedEventHandler.java
  src/main/java/com/google/devtools/build/lib/skyframe/SequencedSkyframeExecutor.java
  src/main/java/com/google/devtools/build/lib/skyframe/SkyframeExecutor.java
  src/main/java/com/google/devtools/build/skyframe/EventFilter.java
  src/main/java/com/google/devtools/build/skyframe/SkyFunctionEnvironment.java
  src/test/java/com/google/devtools/build/lib/skyframe/SequencedSkyframeExecutorTest.java
Owners: none

Add flag to support splitting optimization pass into N parts.
  src/main/java/com/google/devtools/build/lib/rules/android/ProguardHelper.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaConfiguration.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaOptions.java
  src/test/java/com/google/devtools/build/lib/rules/android/AndroidBinaryTest.java
  src/test/java/com/google/devtools/build/lib/rules/android/AndroidBuildViewTestCase.java
Owners: @lberki, @ahumesky, @ted-xie

exec transition should not reset any TestConfiguration.TestOptions options
  src/main/java/com/google/devtools/build/lib/analysis/test/TestConfiguration.java
Owners: @bazelbuild/configurability

Automatic code cleanup.
  src/main/java/com/google/devtools/build/lib/actions/AggregatedSpawnMetrics.java
  src/main/java/com/google/devtools/build/lib/actions/CommandLines.java
  src/main/java/com/google/devtools/build/lib/actions/ParamFileInfo.java
  src/main/java/com/google/devtools/build/lib/actions/SpawnMetrics.java
  src/main/java/com/google/devtools/build/lib/actions/SpawnResult.java
  src/main/java/com/google/devtools/build/lib/util/io/LineCountingAnsiTerminalWriter.java
  src/main/java/com/google/devtools/build/lib/util/io/LineWrappingAnsiTerminalWriter.java
  src/main/java/com/google/devtools/build/lib/util/io/LoggingTerminalWriter.java
  src/main/java/com/google/devtools/build/lib/util/io/PositionAwareAnsiTerminalWriter.java
  src/test/java/com/google/devtools/build/lib/analysis/util/AnalysisTestCase.java
  src/test/java/com/google/devtools/build/lib/analysis/util/BuildViewTestCase.java
  src/test/java/com/google/devtools/build/lib/analysis/util/MockRule.java
  src/test/java/com/google/devtools/build/lib/analysis/util/ScratchAttributeWriter.java
  src/test/java/com/google/devtools/build/lib/testutil/BuildRuleBuilder.java
  src/test/java/com/google/devtools/build/lib/testutil/BuildRuleWithDefaultsBuilder.java
  src/test/java/com/google/devtools/build/lib/testutil/FakeAttributeMapper.java
  src/test/java/com/google/devtools/build/lib/testutil/TestSuiteBuilder.java
  src/tools/android/java/com/google/devtools/build/android/desugar/langmodel/ClassAttributeRecord.java
  src/tools/android/java/com/google/devtools/build/android/desugar/langmodel/ClassAttributes.java
  src/tools/android/java/com/google/devtools/build/android/desugar/langmodel/ClassMemberRecord.java
  src/tools/android/java/com/google/devtools/build/android/desugar/langmodel/ClassMemberTrackReason.java
Owners: @bazelbuild/configurability, @ahumesky, @ted-xie, @kevin1e100

Update module count limit.
  src/test/shell/integration/discard_graph_edges_test.sh
Owners: none

More usages of Label.parseAbsolute to Label.parseCanonical
  src/main/java/com/google/devtools/build/lib/analysis/ConfiguredRuleClassProvider.java
  src/main/java/com/google/devtools/build/lib/cmdline/Label.java
  src/main/java/com/google/devtools/build/lib/packages/ConstantRuleVisibility.java
  src/main/java/com/google/devtools/build/lib/packages/WorkspaceFactoryHelper.java
  src/main/java/com/google/devtools/build/lib/packages/WorkspaceGlobals.java
  src/main/java/com/google/devtools/build/lib/rules/repository/RepositoryFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/PackageFunction.java
  src/main/java/com/google/devtools/build/skydoc/fakebuildapi/FakeStarlarkRuleFunctionsApi.java
Owners: @bazelbuild/configurability, @lberki

Handle case where registry URL has no scheme
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/RegistryFactoryImpl.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/RegistryFactoryTest.java
Owners: @Wyverald, @meteorcloudy

Add resource_jars to java_common.compile() for Starlark java_binary
  src/main/java/com/google/devtools/build/lib/rules/java/JavaInfoBuildHelper.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaLibraryHelper.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaStarlarkCommon.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/java/JavaCommonApi.java
  src/main/starlark/builtins_bzl/common/java/compile_action.bzl
  src/main/starlark/builtins_bzl/common/java/java_common.bzl
  src/main/starlark/builtins_bzl/common/java/java_library.bzl
  src/main/starlark/builtins_bzl/common/java/java_plugin.bzl
  src/test/java/com/google/devtools/build/lib/rules/java/JavaStarlarkApiTest.java
Owners: @lberki

Refactor `TraversalRequest` into an abstract class.
  src/main/java/com/google/devtools/build/lib/actions/FilesetTraversalParams.java
  src/main/java/com/google/devtools/build/lib/skyframe/ArtifactFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/BUILD
  src/main/java/com/google/devtools/build/lib/skyframe/FilesetEntryFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/FilesetTraversalRequest.java
  src/main/java/com/google/devtools/build/lib/skyframe/RecursiveFilesystemTraversalFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/RecursiveFilesystemTraversalValue.java
  src/main/java/com/google/devtools/build/lib/skyframe/TraversalRequest.java
  src/main/java/com/google/devtools/build/lib/skyframe/rewinding/RewindingInconsistencyUtils.java
  src/test/java/com/google/devtools/build/lib/skyframe/RecursiveFilesystemTraversalFunctionTest.java
Owners: none

Add the missing build status for skymeld.
  src/main/java/com/google/devtools/build/lib/runtime/TargetSummaryPublisher.java
  src/main/java/com/google/devtools/build/lib/skyframe/BuildDriverFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/BuildDriverKey.java
  src/main/java/com/google/devtools/build/lib/skyframe/TopLevelStatusEvents.java
Owners: none

Use new register_toolchains directive in bazel_tools' own MODULE file
  src/MODULE.tools
Owners: none

Remove native implementation of Java proto libraries.
  src/main/java/com/google/devtools/build/lib/bazel/rules/BazelRuleClassProvider.java
  src/main/java/com/google/devtools/build/lib/bazel/rules/java/proto/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/rules/java/proto/BazelJavaLiteProtoAspect.java
  src/main/java/com/google/devtools/build/lib/bazel/rules/java/proto/BazelJavaLiteProtoLibrary.java
  src/main/java/com/google/devtools/build/lib/bazel/rules/java/proto/BazelJavaLiteProtoLibraryRule.java
  src/main/java/com/google/devtools/build/lib/bazel/rules/java/proto/BazelJavaProtoAspect.java
  src/main/java/com/google/devtools/build/lib/bazel/rules/java/proto/BazelJavaProtoLibraryRule.java
  src/main/java/com/google/devtools/build/lib/rules/android/DexArchiveAspect.java
  src/main/java/com/google/devtools/build/lib/rules/java/BUILD
  src/main/java/com/google/devtools/build/lib/rules/java/proto/JavaLiteProtoAspect.java
  src/main/java/com/google/devtools/build/lib/rules/java/proto/JavaLiteProtoLibrary.java
  src/main/java/com/google/devtools/build/lib/rules/java/proto/JavaProtoAspect.java
  src/main/java/com/google/devtools/build/lib/rules/java/proto/JavaProtoAspectCommon.java
  src/main/java/com/google/devtools/build/lib/rules/java/proto/JavaProtoLibrary.java
  src/main/java/com/google/devtools/build/lib/rules/java/proto/JavaProtoLibraryAspectProvider.java
  src/main/java/com/google/devtools/build/lib/rules/java/proto/JplCcLinkParams.java
  src/main/java/com/google/devtools/build/lib/rules/java/proto/RpcSupport.java
  src/main/java/com/google/devtools/build/lib/rules/java/proto/StrictDepsUtils.java
  src/main/starlark/builtins_bzl/bazel/exports.bzl
  src/main/starlark/builtins_bzl/common/exports.bzl
Owners: @lberki

Propagate required fragments from config conditions as configured targets.
  src/main/java/com/google/devtools/build/lib/analysis/ConfiguredTargetFactory.java
  src/main/java/com/google/devtools/build/lib/analysis/config/RequiredFragmentsUtil.java
  src/test/java/com/google/devtools/build/lib/analysis/RequiredConfigFragmentsTest.java
Owners: @bazelbuild/configurability

RemoteExecutionService: fix outputs not being uploaded
  src/main/java/com/google/devtools/build/lib/remote/RemoteExecutionService.java
  src/test/shell/bazel/remote/remote_execution_test.sh
Owners: @bazelbuild/remote-execution

Swap assignments in ResourceManager to avoid using the worker before it's set up.
  src/main/java/com/google/devtools/build/lib/actions/ResourceManager.java
Owners: none

Add register_{execution_platforms,toolchains} directives to MODULE.bazel files
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/Module.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileGlobals.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BzlmodTestUtil.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileFunctionTest.java
Owners: @Wyverald, @meteorcloudy

[credentialhelper] Add types to communicate with the subprocess
  src/main/java/com/google/devtools/build/lib/authandtls/credentialhelper/BUILD
  src/main/java/com/google/devtools/build/lib/authandtls/credentialhelper/GetCredentialsRequest.java
  src/main/java/com/google/devtools/build/lib/authandtls/credentialhelper/GetCredentialsResponse.java
  src/test/java/com/google/devtools/build/lib/authandtls/credentialhelper/BUILD
  src/test/java/com/google/devtools/build/lib/authandtls/credentialhelper/GetCredentialsRequestTest.java
  src/test/java/com/google/devtools/build/lib/authandtls/credentialhelper/GetCredentialsResponseTest.java
Owners: none

Correct the load paths for pkg_tar() to @rules_pkg//pkg:tar.bzl.
  BUILD
  distdir.bzl
  scripts/packages/debian/BUILD
  src/main/java/com/google/devtools/build/lib/skyframe/serialization/autocodec/BUILD
Owners: none

Shard //src/test/shell/bazel:cc_integration_test.
  src/test/shell/bazel/BUILD
Owners: none

Set default value of number of workers only on `createWorkerPools`.
  src/main/java/com/google/devtools/build/lib/worker/WorkerOptions.java
  src/main/java/com/google/devtools/build/lib/worker/WorkerPool.java
  src/test/java/com/google/devtools/build/lib/worker/MultiResourceConverterTest.java
Owners: none

Remaining @Nullable annotations.
  src/main/java/com/google/devtools/build/lib/actions/cache/CompactPersistentActionCache.java
  src/main/java/com/google/devtools/build/lib/actions/cache/PersistentStringIndexer.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkBaseExternalContext.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkPath.java
  src/main/java/com/google/devtools/build/lib/bazel/rules/android/AndroidNdkRepositoryFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/rules/android/AndroidRepositoryFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/rules/android/AndroidSdkRepositoryFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/rules/android/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/rules/android/BazelAndroidLocalTest.java
  src/main/java/com/google/devtools/build/lib/unix/BUILD
  src/main/java/com/google/devtools/build/lib/unix/UnixFileSystem.java
  src/main/java/com/google/devtools/build/lib/util/BUILD
  src/main/java/com/google/devtools/build/lib/util/CommandUtils.java
  src/main/java/com/google/devtools/build/lib/util/DependencySet.java
  src/main/java/com/google/devtools/build/lib/util/GccParamFileEscaper.java
  src/main/java/com/google/devtools/build/lib/util/LoggingUtil.java
  src/main/java/com/google/devtools/build/lib/util/OptionsUtils.java
  src/main/java/com/google/devtools/build/lib/util/PersistentMap.java
  src/main/java/com/google/devtools/build/lib/util/RegexFilter.java
Owners: @ahumesky, @ted-xie

Bazel DevSite: Prevent automated removal of required visibility.
  site/en/BUILD
Owners: @gregestren, @philomathing, @fweikert

Fix flag file regexp broken by https://github.com/bazelbuild/bazel/commit/cb2cd9fd2b65311da927777c35939701add5b879.
  src/main/java/com/google/devtools/build/lib/worker/WorkerParser.java
Owners: none

Release 6.0.0-pre.20220630.1 (2022-07-11)
  CHANGELOG.md
Owners: none

Migrate proto_library_target to proto_info in proto_common.experimental_should_generate_code
  src/main/java/com/google/devtools/build/lib/rules/proto/ProtoCommon.java
  src/main/starlark/builtins_bzl/common/java/proto/java_lite_proto_library.bzl
  src/main/starlark/builtins_bzl/common/java/proto/java_proto_library.bzl
  src/main/starlark/builtins_bzl/common/proto/proto_common.bzl
  src/test/java/com/google/devtools/build/lib/rules/proto/BazelProtoCommonTest.java
Owners: @lberki

Automatic code cleanup.
  site/en/BUILD
Owners: @gregestren, @philomathing, @fweikert

Update native CC rules to use an optional CC toolchain.
  src/main/java/com/google/devtools/build/lib/rules/cpp/CppHelper.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CppRuleClasses.java
Owners: @lberki

Automatic code cleanup.
  site/en/BUILD
Owners: @gregestren, @philomathing, @fweikert

Fix bazel_module_test to use bcr.bazel.build
  src/test/py/bazel/bzlmod/bazel_module_test.py
Owners: @Wyverald, @meteorcloudy

Remove unused option for `InMemoryNodeEntry` to keep deps but not rdeps.
  src/main/java/com/google/devtools/build/skyframe/AbstractInMemoryMemoizingEvaluator.java
  src/main/java/com/google/devtools/build/skyframe/EdgelessInMemoryNodeEntry.java
  src/main/java/com/google/devtools/build/skyframe/InMemoryNodeEntry.java
  src/main/java/com/google/devtools/build/skyframe/NodeEntry.java
  src/main/java/com/google/devtools/build/skyframe/ReverseDepsUtility.java
Owners: none

Use ImmutableSet instead of List for BuildDriverKeys.
  src/main/java/com/google/devtools/build/lib/skyframe/SkyframeBuildView.java
  src/main/java/com/google/devtools/build/lib/skyframe/SkyframeExecutor.java
Owners: none

Update BCR location to bcr.bazel.build
  site/en/docs/bzlmod.md
Owners: @gregestren, @philomathing, @fweikert

Internal change.
  src/main/java/com/google/devtools/build/lib/bazel/rules/cpp/BazelCcModule.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CcModule.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/cpp/BUILD
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/cpp/BazelCcModuleApi.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/cpp/CcModuleApi.java
Owners: @lberki

Internal change.
  src/test/java/com/google/devtools/build/lib/analysis/util/BuildViewTestCase.java
Owners: @bazelbuild/configurability

Add worker memory usage to the bazel profiler.
  src/main/java/com/google/devtools/build/lib/BUILD
  src/main/java/com/google/devtools/build/lib/metrics/BUILD
  src/main/java/com/google/devtools/build/lib/metrics/MetricsCollector.java
  src/main/java/com/google/devtools/build/lib/profiler/BUILD
  src/main/java/com/google/devtools/build/lib/profiler/CollectLocalResourceUsage.java
  src/main/java/com/google/devtools/build/lib/profiler/Profiler.java
  src/main/java/com/google/devtools/build/lib/profiler/ProfilerTask.java
  src/main/java/com/google/devtools/build/lib/runtime/BlazeRuntime.java
  src/main/java/com/google/devtools/build/lib/runtime/CommonCommandOptions.java
  src/main/java/com/google/devtools/build/lib/worker/BUILD
  src/main/java/com/google/devtools/build/lib/worker/WorkerMetric.java
  src/main/java/com/google/devtools/build/lib/worker/WorkerMetricsCollector.java
  src/main/java/com/google/devtools/build/lib/worker/WorkerModule.java
  src/main/java/com/google/devtools/build/lib/worker/WorkerSpawnRunner.java
  src/test/java/com/google/devtools/build/lib/buildtool/util/BUILD
  src/test/java/com/google/devtools/build/lib/buildtool/util/BlazeRuntimeWrapper.java
  src/test/java/com/google/devtools/build/lib/profiler/BUILD
  src/test/java/com/google/devtools/build/lib/profiler/ProfilerTest.java
  src/test/java/com/google/devtools/build/lib/worker/BUILD
  src/test/java/com/google/devtools/build/lib/worker/WorkerMetricsCollectorTest.java
  src/test/java/com/google/devtools/build/lib/worker/WorkerSpawnRunnerTest.java
Owners: none

Remove dead code for replaying posts in `BzlLoadFunction`.
  src/main/java/com/google/devtools/build/lib/skyframe/BzlLoadFunction.java
Owners: none

Parse command-line options twice; the second time with the main repo mapping
  src/main/java/com/google/devtools/build/lib/analysis/BUILD
  src/main/java/com/google/devtools/build/lib/analysis/TargetContext.java
  src/main/java/com/google/devtools/build/lib/analysis/config/CoreOptionConverters.java
  src/main/java/com/google/devtools/build/lib/analysis/config/RunUnderConverter.java
  src/main/java/com/google/devtools/build/lib/analysis/config/StarlarkDefinedConfigTransition.java
  src/main/java/com/google/devtools/build/lib/analysis/starlark/FunctionTransitionUtil.java
  src/main/java/com/google/devtools/build/lib/rules/config/ConfigSetting.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CppOptions.java
  src/main/java/com/google/devtools/build/lib/runtime/BlazeCommandDispatcher.java
  src/main/java/com/google/devtools/build/lib/runtime/commands/CanonicalizeCommand.java
  src/main/java/com/google/devtools/build/lib/skyframe/SkyframeExecutor.java
Owners: @bazelbuild/configurability, @lberki
