Repository tlongeri/bazel, changes with the owners that CODEOWNERS names for each.
All owners: @ahumesky, @ted-xie, @kevin1e100, @bazelbuild/rules_apple-team, @allevato, @davidgoldman, @dmaclach, @kelvinchan-google, @reinhillman, @thomasvl, @Wyverald, @meteorcloudy, @gregestren, @philomathing, @fweikert, @oquenchil, @bazelbuild/java-team, @bazelbuild/intellij, @asmundak, @lberki, @brandjon, @tetromino, @bazelbuild/configurability, @bazelbuild/remote-execution

CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# Order is important; the last matching pattern takes the most precedence.

# When someone opens a pull request that only modifies files in directory, only
# component owners and not the global owner(s) will be requested for a review.

# Syntax: https://help.github.com/articles/about-codeowners/

# Use individual usernames instead of teams (like @bazelbuild/android) for
# auto-assignment to work, unless everyone in the team has write permissions to the repository.
# See https://github.community/t5/How-to-use-Git-and-GitHub/CODEOWNERS-works-with-users-but-not-teams/td-p/4986

# Component owners
# ----------------

# Android

# android/ directory anywhere in the repository
android/ @ahumesky @ted-xie

/src/tools/android/java/com/google/devtools/build/android/desugar/ @ahumesky @ted-xie @kevin1e100

/src/test/java/com/google/devtools/build/android/desugar/ @ahumesky @ted-xie @kevin1e100

/src/tools/android/java/com/google/devtools/build/android/dexer/ @ahumesky @ted-xie @kevin1e100

/src/test/java/com/google/devtools/build/android/dexer/ @ahumesky @ted-xie @kevin1e100

# Apple

/src/main/java/com/google/devtools/build/lib/rules/apple @bazelbuild/rules_apple-team
/src/test/java/com/google/devtools/build/lib/rules/apple @bazelbuild/rules_apple-team
/src/test/shell/bazel/apple @allevato @davidgoldman @dmaclach @kelvinchan-google @reinhillman @thomasvl @bazelbuild/rules_apple-team
/tools/osx @bazelbuild/rules_apple-team

# Bzlmod

/src/main/java/com/google/devtools/build/lib/bazel/bzlmod @Wyverald @meteorcloudy
/src/test/java/com/google/devtools/build/lib/bazel/bzlmod @Wyverald @meteorcloudy
/src/test/py/bazel/bzlmod @Wyverald @meteorcloudy

# Documentation

/site @gregestren @philomathing @fweikert

# C++

/src/tools/cpp @oquenchil

/src/test/shell/bazel/cpp @oquenchil

/src/test/java/com/google/devtools/build/lib/rules/cpp/ @oquenchil

/src/main/java/com/google/devtools/build/lib/rules/cpp/ @oquenchil

# Java

/src/java_tools/buildjar/ @bazelbuild/java-team

/src/main/java/com/google/devtools/build/lib/ideinfo/ @bazelbuild/intellij

/src/tools/singlejar/ @asmundak

# Execution and I/O related code

/src/main/java/com/google/devtools/build/lib/rules/ @lberki

# Starlark

/src/main/java/net/starlark/java/ @brandjon @tetromino

/tools/coverage/ @lberki
/tools/test/collect_coverage.sh @lberki
/tools/test/collect_cc_coverage.sh @lberki
/tools/test/CoverageOutputGenerator/ @lberki

# Configurability

/src/main/java/com/google/devtools/build/lib/analysis @bazelbuild/configurability
/src/test/java/com/google/devtools/build/lib/analysis @bazelbuild/configurability
/src/main/java/com/google/devtools/build/lib/rules/platform @bazelbuild/configurability
/src/test/java/com/google/devtools/build/lib/rules/platform @bazelbuild/configurability
/tools/platforms @bazelbuild/configurability

# Remote Execution

/src/main/java/com/google/devtools/build/lib/remote @bazelbuild/remote-execution
/src/test/java/com/google/devtools/build/lib/remote @bazelbuild/remote-execution
/src/test/py/bazel/remote @bazelbuild/remote-execution
/src/test/shell/bazel/remote @bazelbuild/remote-execution
/src/tools/remote @bazelbuild/remote-execution
/third_party/remoteapis/build/bazel/remote @bazelbuild/remote-execution

Reduce imports processed by python stubs.
  src/main/java/com/google/devtools/build/lib/bazel/rules/python/python_stub_template.txt
Owners: none

Make blaze ignore --experimental_merged_skyframe_analysis_execution with --nobuild.
  src/main/java/com/google/devtools/build/lib/buildeventservice/BuildEventServiceModule.java
  src/main/java/com/google/devtools/build/lib/buildtool/BuildRequest.java
  src/main/java/com/google/devtools/build/lib/buildtool/BuildRequestOptions.java
  src/main/java/com/google/devtools/build/lib/buildtool/BuildTool.java
  src/test/java/com/google/devtools/build/lib/buildtool/SkymeldBuildIntegrationTest.java
Owners: none

Increase osx_cc_configure timeouts
  tools/cpp/osx_cc_configure.bzl
Owners: none

Remove UNC path prefix on Windows-10.1607 or later
  src/main/java/com/google/devtools/build/lib/bazel/rules/python/python_stub_template.txt
Owners: none

Deduplicate paths between old and new PYTHONPATH
  src/main/java/com/google/devtools/build/lib/bazel/rules/python/python_stub_template.txt
Owners: none

Remove the, incorrect, "and fetching" description about rules_pkg
  site/en/rules/index.md
Owners: @gregestren, @philomathing, @fweikert

Release 6.0.0-pre.20220706.4 (2022-07-21)
  CHANGELOG.md
Owners: none

Remove ancient PY2 warning messages from python_stub_template.txt
  src/main/java/com/google/devtools/build/lib/bazel/rules/python/BazelPythonSemantics.java
  src/main/java/com/google/devtools/build/lib/bazel/rules/python/python_stub_template.txt
  src/main/java/com/google/devtools/build/lib/rules/python/PyCommon.java
  src/test/shell/bazel/python_version_test.sh
Owners: @lberki

Adds PYTHONSAFEPATH to python_stub_template.txt
  src/main/java/com/google/devtools/build/lib/bazel/rules/python/python_stub_template.txt
Owners: none

Add netrc support to --bes_backend
  src/main/java/com/google/devtools/build/lib/authandtls/BUILD
  src/main/java/com/google/devtools/build/lib/authandtls/GoogleAuthUtils.java
  src/main/java/com/google/devtools/build/lib/buildeventservice/BUILD
  src/main/java/com/google/devtools/build/lib/buildeventservice/BazelBuildEventServiceModule.java
  src/main/java/com/google/devtools/build/lib/buildeventservice/BuildEventServiceModule.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteModule.java
  src/test/java/com/google/devtools/build/lib/authandtls/BUILD
  src/test/java/com/google/devtools/build/lib/authandtls/GoogleAuthUtilsTest.java
  src/test/java/com/google/devtools/build/lib/remote/BUILD
  src/test/java/com/google/devtools/build/lib/remote/GrpcCacheClientTestBase.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteModuleTest.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteServerCapabilitiesTest.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteSpawnRunnerWithGrpcRemoteExecutorTest.java
  src/test/shell/bazel/remote/remote_execution_http_test.sh
Owners: @bazelbuild/remote-execution

Make digest computation of client environment a private method in `ActionCache` and document potential concerns of the `xor` strategy.
  src/main/java/com/google/devtools/build/lib/actions/ActionCacheChecker.java
  src/main/java/com/google/devtools/build/lib/actions/cache/ActionCache.java
  src/main/java/com/google/devtools/build/lib/actions/cache/MetadataDigestUtils.java
  src/main/java/com/google/devtools/build/lib/vfs/DigestUtils.java
Owners: none

Docs should mention the new no-remote-cache-upload tag
  src/main/java/com/google/devtools/build/docgen/templates/attributes/common/tags.html
Owners: none

BEGIN_PUBLIC Allow StarlarkValue#str to access StarlarkSemantics
  src/main/java/com/google/devtools/build/lib/analysis/configuredtargets/RuleConfiguredTarget.java
  src/main/java/com/google/devtools/build/lib/analysis/platform/ConstraintCollection.java
  src/main/java/com/google/devtools/build/lib/analysis/platform/ConstraintSettingInfo.java
  src/main/java/com/google/devtools/build/lib/analysis/platform/ConstraintValueInfo.java
  src/main/java/com/google/devtools/build/lib/analysis/platform/PlatformInfo.java
  src/main/java/com/google/devtools/build/lib/analysis/platform/ToolchainTypeInfo.java
  src/main/java/com/google/devtools/build/lib/analysis/starlark/Args.java
  src/main/java/com/google/devtools/build/lib/bazel/commands/SyncCommand.java
  src/main/java/com/google/devtools/build/lib/cmdline/Label.java
  src/main/java/com/google/devtools/build/lib/packages/BuildType.java
  src/main/java/com/google/devtools/build/lib/query2/cquery/StarlarkOutputFormatterCallback.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CcLinkingContext.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/FeatureConfigurationForStarlark.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/LibraryToLink.java
  src/main/java/com/google/devtools/build/lib/rules/repository/LocalRepositoryFunction.java
  src/main/java/net/starlark/java/eval/EvalUtils.java
  src/main/java/net/starlark/java/eval/FormatParser.java
  src/main/java/net/starlark/java/eval/MethodLibrary.java
  src/main/java/net/starlark/java/eval/Printer.java
  src/main/java/net/starlark/java/eval/RangeList.java
  src/main/java/net/starlark/java/eval/Starlark.java
  src/main/java/net/starlark/java/eval/StarlarkValue.java
  src/main/java/net/starlark/java/eval/StringModule.java
  src/test/java/com/google/devtools/build/lib/cmdline/LabelTest.java
  src/test/java/com/google/devtools/build/lib/packages/PackageFactoryTest.java
  src/test/java/com/google/devtools/build/lib/starlark/StarlarkRuleImplementationFunctionsTest.java
  src/test/java/net/starlark/java/eval/PrinterTest.java
  src/test/java/net/starlark/java/eval/StarlarkEvaluationTest.java
Owners: @bazelbuild/configurability, @lberki, @brandjon, @tetromino

Add `--output=files` mode to cquery
  site/en/docs/cquery.md
  src/main/java/com/google/devtools/build/lib/analysis/TopLevelArtifactHelper.java
  src/main/java/com/google/devtools/build/lib/buildtool/BuildResultPrinter.java
  src/main/java/com/google/devtools/build/lib/buildtool/CqueryProcessor.java
  src/main/java/com/google/devtools/build/lib/query2/BUILD
  src/main/java/com/google/devtools/build/lib/query2/cquery/BuildOutputFormatterCallback.java
  src/main/java/com/google/devtools/build/lib/query2/cquery/ConfiguredTargetQueryEnvironment.java
  src/main/java/com/google/devtools/build/lib/query2/cquery/CqueryThreadsafeCallback.java
  src/main/java/com/google/devtools/build/lib/query2/cquery/FilesOutputFormatterCallback.java
  src/main/java/com/google/devtools/build/lib/query2/cquery/GraphOutputFormatterCallback.java
  src/main/java/com/google/devtools/build/lib/query2/cquery/LabelAndConfigurationOutputFormatterCallback.java
  src/main/java/com/google/devtools/build/lib/query2/cquery/ProtoOutputFormatterCallback.java
  src/main/java/com/google/devtools/build/lib/query2/cquery/StarlarkOutputFormatterCallback.java
  src/main/java/com/google/devtools/build/lib/query2/cquery/TransitionsOutputFormatterCallback.java
  src/test/java/com/google/devtools/build/lib/query2/cquery/BUILD
  src/test/java/com/google/devtools/build/lib/query2/cquery/ConfiguredTargetQueryHelper.java
  src/test/java/com/google/devtools/build/lib/query2/cquery/FilesOutputFormatterCallbackTest.java
Owners: @gregestren, @philomathing, @fweikert, @bazelbuild/configurability

Bazel singlejar metadata says "Created-By: Bazel"
  src/main/java/com/google/devtools/build/lib/rules/android/ApkActionsBuilder.java
  src/main/java/com/google/devtools/build/lib/rules/android/BUILD
  src/test/shell/bazel/android/android_integration_test.sh
Owners: @lberki, @ahumesky, @ted-xie

Update obsolete code.
  src/main/java/com/google/devtools/build/lib/metrics/MetricsCollector.java
Owners: none

Prevent aspects from executing on incompatible targets
  src/main/java/com/google/devtools/build/lib/skyframe/AspectFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/BUILD
  src/test/shell/integration/target_compatible_with_test.sh
Owners: none

Remove PrepareAnanlysisPhaseFunction and make experimental_skyframe_prepare_analysis a no-op
  src/main/java/com/google/devtools/build/lib/analysis/AnalysisOptions.java
  src/main/java/com/google/devtools/build/lib/analysis/BuildView.java
  src/main/java/com/google/devtools/build/lib/skyframe/BUILD
  src/main/java/com/google/devtools/build/lib/skyframe/PrepareAnalysisPhaseFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/PrepareAnalysisPhaseValue.java
  src/main/java/com/google/devtools/build/lib/skyframe/SkyframeExecutor.java
Owners: @bazelbuild/configurability

Fix cquery --transitions=lite crash
  src/main/java/com/google/devtools/build/lib/query2/cquery/CqueryTransitionResolver.java
  src/test/java/com/google/devtools/build/lib/query2/cquery/TransitionsOutputFormatterTest.java
Owners: none

Clarify that `ctx.actions.symlink` is also able to create symlinks to directories, and that the input/output should match (i.e., both files or both directories).
  src/main/java/com/google/devtools/build/lib/analysis/starlark/StarlarkActionFactory.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/StarlarkActionFactoryApi.java
  src/test/shell/bazel/bazel_symlink_test.sh
Owners: @bazelbuild/configurability

Move newCredentialHelperProvider into GoogleAuthUtils
  src/main/java/com/google/devtools/build/lib/BUILD
  src/main/java/com/google/devtools/build/lib/authandtls/BUILD
  src/main/java/com/google/devtools/build/lib/authandtls/GoogleAuthUtils.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteModule.java
  src/test/java/com/google/devtools/build/lib/BUILD
  src/test/java/com/google/devtools/build/lib/authandtls/BUILD
  src/test/java/com/google/devtools/build/lib/authandtls/GoogleAuthUtilsTest.java
  src/test/java/com/google/devtools/build/lib/remote/BUILD
  src/test/java/com/google/devtools/build/lib/remote/RemoteModuleTest.java
Owners: @bazelbuild/remote-execution

Remove the double-checked `contains` then `add` in `NestedSetVisitor`.
  src/main/java/com/google/devtools/build/lib/collect/nestedset/NestedSetVisitor.java
  src/main/java/com/google/devtools/build/skyframe/MemoizingEvaluator.java
  src/test/java/com/google/devtools/build/lib/collect/nestedset/NestedSetVisitorTest.java
Owners: none

Singlejar Created-By field does not include Bazel version
  src/main/java/com/google/devtools/build/lib/rules/android/ApkActionsBuilder.java
  src/main/java/com/google/devtools/build/lib/rules/android/BUILD
  src/test/shell/bazel/android/android_integration_test.sh
Owners: @lberki, @ahumesky, @ted-xie

Fix some channel leaks in remote tests.
  src/test/java/com/google/devtools/build/lib/remote/ByteStreamUploaderTest.java
  src/test/java/com/google/devtools/build/lib/remote/ExperimentalGrpcRemoteExecutorTest.java
  src/test/java/com/google/devtools/build/lib/remote/GrpcCacheClientTestBase.java
Owners: @bazelbuild/remote-execution

adding files for grpc 1.47.0 upgrade
  third_party/grpc/grpc_1.47.0.patch
Owners: none

Start adding licenses for third_party/BUILD
  third_party/BUILD
Owners: none

Wire up credential helper to command-line flag(s)
  src/main/java/com/google/devtools/build/lib/authandtls/AuthAndTLSOptions.java
  src/main/java/com/google/devtools/build/lib/authandtls/GoogleAuthUtils.java
  src/main/java/com/google/devtools/build/lib/authandtls/credentialhelper/BUILD
  src/main/java/com/google/devtools/build/lib/authandtls/credentialhelper/CredentialHelperCredentials.java
  src/main/java/com/google/devtools/build/lib/buildeventservice/BUILD
  src/main/java/com/google/devtools/build/lib/buildeventservice/BazelBuildEventServiceModule.java
  src/main/java/com/google/devtools/build/lib/remote/BUILD
  src/main/java/com/google/devtools/build/lib/remote/RemoteModule.java
  src/test/java/com/google/devtools/build/lib/remote/BUILD
  src/test/java/com/google/devtools/build/lib/remote/RemoteModuleTest.java
Owners: @bazelbuild/remote-execution

adding a TODO for incompatible_use_platforms_repo_for_constraints
  src/main/java/com/google/devtools/build/lib/analysis/config/CoreOptions.java
Owners: @bazelbuild/configurability

Refactor and fix issues with StarlarkTransition BuildSettingsPackages
  src/main/java/com/google/devtools/build/lib/analysis/BUILD
  src/main/java/com/google/devtools/build/lib/analysis/config/ConfigurationResolver.java
  src/main/java/com/google/devtools/build/lib/analysis/starlark/StarlarkBuildSettingsDetailsValue.java
  src/main/java/com/google/devtools/build/lib/analysis/starlark/StarlarkTransition.java
  src/main/java/com/google/devtools/build/lib/skyframe/BUILD
  src/main/java/com/google/devtools/build/lib/skyframe/SkyFunctions.java
  src/main/java/com/google/devtools/build/lib/skyframe/SkyframeExecutor.java
  src/main/java/com/google/devtools/build/lib/skyframe/StarlarkBuildSettingsDetailsFunction.java
  src/test/java/com/google/devtools/build/lib/analysis/StarlarkRuleTransitionProviderTest.java
  src/test/java/com/google/devtools/build/lib/analysis/StarlarkTransitionTest.java
Owners: @bazelbuild/configurability

Remove the docs for the deprecated pkg_tar.
  tools/build_defs/pkg/README.md
Owners: none

update patch + pulling in extra deps for grpc 1.47.0
  third_party/BUILD
  third_party/cncf_udpa/BUILD
  third_party/cncf_udpa/cncf_udpa_0.0.1.patch
  third_party/grpc/BUILD
  third_party/protoc_gen_validate/BUILD
  third_party/protoc_gen_validate/protoc_gen_validate.patch
  third_party/upb/BUILD
Owners: none

Declare the output of a SymlinkAction#toArtifact as a directory, not a file, when the input is a directory.
  src/main/java/com/google/devtools/build/lib/analysis/actions/SymlinkAction.java
  src/main/java/com/google/devtools/build/lib/rules/android/databinding/DataBinding.java
  src/main/java/com/google/devtools/build/lib/rules/android/databinding/DataBindingV2Context.java
  src/main/java/com/google/devtools/build/lib/skyframe/ActionMetadataHandler.java
  src/test/shell/bazel/bazel_symlink_test.sh
Owners: @bazelbuild/configurability, @lberki

To dump command, add --skykey_filter and --skyframe=rdeps
  src/main/java/com/google/devtools/build/lib/runtime/commands/DumpCommand.java
  src/main/java/com/google/devtools/build/skyframe/AbstractInMemoryMemoizingEvaluator.java
  src/main/java/com/google/devtools/build/skyframe/MemoizingEvaluator.java
  src/test/shell/integration/discard_graph_edges_test.sh
Owners: none

More meaningful error message for strict-dep violating usage of the main repo
  src/main/java/com/google/devtools/build/lib/skyframe/PackageLookupFunction.java
  src/test/java/com/google/devtools/build/lib/skyframe/PackageLookupFunctionTest.java
Owners: none

Don't propagate required fragments through `ConfigMatchingProvider`.
  src/main/java/com/google/devtools/build/lib/analysis/config/ConfigMatchingProvider.java
  src/main/java/com/google/devtools/build/lib/analysis/config/RequiredFragmentsUtil.java
  src/main/java/com/google/devtools/build/lib/analysis/platform/ConstraintValueInfo.java
  src/main/java/com/google/devtools/build/lib/rules/config/ConfigSetting.java
  src/test/java/com/google/devtools/build/lib/analysis/RuleConfiguredTargetTest.java
Owners: @bazelbuild/configurability, @lberki

Fix `toolchain` typo in bazel-and-java.md
  site/en/docs/bazel-and-java.md
Owners: @gregestren, @philomathing, @fweikert

Add Keep to StarlarkMethod to suppress ErrorProne complaints.
  src/main/java/net/starlark/java/annot/BUILD
  src/main/java/net/starlark/java/annot/StarlarkMethod.java
Owners: @brandjon, @tetromino

Enable more objc rule attrs to work with --compile_one_dependency
  src/main/starlark/builtins_bzl/common/objc/attrs.bzl
Owners: none

Move link to make document a bit easier to follow.
  site/en/rules/config.md
Owners: @gregestren, @philomathing, @fweikert

Make experimental_multi_cpu a no-op
  src/main/java/com/google/devtools/build/lib/analysis/AnalysisUtils.java
  src/main/java/com/google/devtools/build/lib/analysis/BuildView.java
  src/main/java/com/google/devtools/build/lib/analysis/config/BuildConfigurationCollection.java
  src/main/java/com/google/devtools/build/lib/buildtool/AnalysisAndExecutionPhaseRunner.java
  src/main/java/com/google/devtools/build/lib/buildtool/AnalysisPhaseRunner.java
  src/main/java/com/google/devtools/build/lib/buildtool/BuildRequest.java
  src/main/java/com/google/devtools/build/lib/buildtool/BuildRequestOptions.java
  src/main/java/com/google/devtools/build/lib/buildtool/BuildTool.java
  src/main/java/com/google/devtools/build/lib/buildtool/ExecutionTool.java
  src/main/java/com/google/devtools/build/lib/runtime/commands/RunCommand.java
  src/main/java/com/google/devtools/build/lib/skyframe/SkyframeBuildView.java
  src/main/java/com/google/devtools/build/lib/skyframe/SkyframeExecutor.java
  src/test/java/com/google/devtools/build/lib/analysis/AnalysisCachingTest.java
  src/test/java/com/google/devtools/build/lib/analysis/AnalysisFailureReportingTest.java
  src/test/java/com/google/devtools/build/lib/analysis/config/BuildConfigurationValueTest.java
  src/test/java/com/google/devtools/build/lib/analysis/util/AnalysisTestCase.java
  src/test/java/com/google/devtools/build/lib/analysis/util/AnalysisTestUtil.java
  src/test/java/com/google/devtools/build/lib/analysis/util/BuildViewForTesting.java
  src/test/java/com/google/devtools/build/lib/analysis/util/BuildViewTestBase.java
  src/test/java/com/google/devtools/build/lib/analysis/util/BuildViewTestCase.java
  src/test/java/com/google/devtools/build/lib/analysis/util/ConfigurationTestCase.java
  src/test/java/com/google/devtools/build/lib/buildtool/EnvironmentRestrictedBuildTest.java
  src/test/java/com/google/devtools/build/lib/buildtool/util/BuildIntegrationTestCase.java
  src/test/java/com/google/devtools/build/lib/rules/android/ResourceTestBase.java
  src/test/java/com/google/devtools/build/lib/view/java/JavaConfigurationTest.java
  src/test/shell/bazel/platform_mapping_test.sh
Owners: @bazelbuild/configurability, @ahumesky, @ted-xie
