Repository tlongeri/bazel, changes with the owners that CODEOWNERS names for each.
All owners: @ahumesky, @ted-xie, @kevin1e100, @bazelbuild/rules_apple-team, @allevato, @davidgoldman, @dmaclach, @kelvinchan-google, @reinhillman, @thomasvl, @Wyverald, @meteorcloudy, @gregestren, @philomathing, @fweikert, @oquenchil, @bazelbuild/java-team, @bazelbuild/intellij, @asmundak, @lberki, @brandjon, @tetromino, @bazelbuild/configurability, @bazelbuild/remote-execution

CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# Order is important; the last matching pattern takes the most precedence.

# When someone opens a pull request that only modifies files in directory, only
# component owners and not the global owner(s) will be requested for a review.

# Syntax: https://help.github.com/articles/about-codeowners/

# Use individual usernames instead of teams (like @bazelbuild/android) for
# auto-assignment to work, unless everyone in the team has write permissions to the repository.
# See https://github.community/t5/How-to-use-Git-and-GitHub/CODEOWNERS-works-with-users-but-not-teams/td-p/4986

# Component owners
# ----------------

# Android

# android/ directory anywhere in the repository
android/ @ahumesky @ted-xie

/src/tools/android/java/com/google/devtools/build/android/desugar/ @ahumesky @ted-xie @kevin1e100

/src/test/java/com/google/devtools/build/android/desugar/ @ahumesky @ted-xie @kevin1e100

/src/tools/android/java/com/google/devtools/build/android/dexer/ @ahumesky @ted-xie @kevin1e100

/src/test/java/com/google/devtools/build/android/dexer/ @ahumesky @ted-xie @kevin1e100

# Apple

/src/main/java/com/google/devtools/build/lib/rules/apple @bazelbuild/rules_apple-team
/src/test/java/com/google/devtools/build/lib/rules/apple @bazelbuild/rules_apple-team
/src/test/shell/bazel/apple @allevato @davidgoldman @dmaclach @kelvinchan-google @reinhillman @thomasvl @bazelbuild/rules_apple-team
/tools/osx @bazelbuild/rules_apple-team

# Bzlmod

/src/main/java/com/google/devtools/build/lib/bazel/bzlmod @Wyverald @meteorcloudy
/src/test/java/com/google/devtools/build/lib/bazel/bzlmod @Wyverald @meteorcloudy
/src/test/py/bazel/bzlmod @Wyverald @meteorcloudy

# Documentation

/site @gregestren @philomathing @fweikert

# C++

/src/tools/cpp @oquenchil

/src/test/shell/bazel/cpp @oquenchil

/src/test/java/com/google/devtools/build/lib/rules/cpp/ @oquenchil

/src/main/java/com/google/devtools/build/lib/rules/cpp/ @oquenchil

# Java

/src/java_tools/buildjar/ @bazelbuild/java-team

/src/main/java/com/google/devtools/build/lib/ideinfo/ @bazelbuild/intellij

/src/tools/singlejar/ @asmundak

# Execution and I/O related code

/src/main/java/com/google/devtools/build/lib/rules/ @lberki

# Starlark

/src/main/java/net/starlark/java/ @brandjon @tetromino

/tools/coverage/ @lberki
/tools/test/collect_coverage.sh @lberki
/tools/test/collect_cc_coverage.sh @lberki
/tools/test/CoverageOutputGenerator/ @lberki

# Configurability

/src/main/java/com/google/devtools/build/lib/analysis @bazelbuild/configurability
/src/test/java/com/google/devtools/build/lib/analysis @bazelbuild/configurability
/src/main/java/com/google/devtools/build/lib/rules/platform @bazelbuild/configurability
/src/test/java/com/google/devtools/build/lib/rules/platform @bazelbuild/configurability
/tools/platforms @bazelbuild/configurability

# Remote Execution

/src/main/java/com/google/devtools/build/lib/remote @bazelbuild/remote-execution
/src/test/java/com/google/devtools/build/lib/remote @bazelbuild/remote-execution
/src/test/py/bazel/remote @bazelbuild/remote-execution
/src/test/shell/bazel/remote @bazelbuild/remote-execution
/src/tools/remote @bazelbuild/remote-execution
/third_party/remoteapis/build/bazel/remote @bazelbuild/remote-execution

Remove proto_library_target from proto_common
  src/main/java/com/google/devtools/build/lib/rules/proto/ProtoCommon.java
  src/main/starlark/builtins_bzl/common/java/proto/java_lite_proto_library.bzl
  src/main/starlark/builtins_bzl/common/java/proto/java_proto_library.bzl
  src/main/starlark/builtins_bzl/common/proto/proto_common.bzl
  src/main/starlark/builtins_bzl/common/proto/proto_library.bzl
  src/test/java/com/google/devtools/build/lib/rules/proto/BazelProtoCommonTest.java
Owners: @lberki

Update CC rule helpers to use an optional CC toolchain.
  tools/cpp/toolchain_utils.bzl
Owners: none

Remove 'deps' option from legacy pkg_tar.
  tools/build_defs/pkg/BUILD
  tools/build_defs/pkg/archive.py
  tools/build_defs/pkg/archive_test.py
  tools/build_defs/pkg/build_tar.py
  tools/build_defs/pkg/build_test.sh
  tools/build_defs/pkg/pkg.bzl
Owners: none

Remove unnecessary `QueryableGraph#storesReverseDeps`.
  src/main/java/com/google/devtools/build/skyframe/InMemoryGraphImpl.java
  src/main/java/com/google/devtools/build/skyframe/QueryableGraph.java
  src/main/java/com/google/devtools/build/skyframe/SkyFunctionEnvironment.java
  src/test/java/com/google/devtools/build/skyframe/GraphTest.java
Owners: none

Update CC rule helpers to use an optional CC toolchain.
  src/main/starlark/builtins_bzl/common/cc/cc_helper.bzl
Owners: none

Remove unused graph transform methods for `QueryableGraph` and unnecessary interface `TestOnlyNodeEntry`.
  src/main/java/com/google/devtools/build/skyframe/MemoizingEvaluator.java
  src/main/java/com/google/devtools/build/skyframe/TestOnlyNodeEntry.java
  src/test/java/com/google/devtools/build/skyframe/DeterministicHelper.java
  src/test/java/com/google/devtools/build/skyframe/NotifyingHelper.java
Owners: none

Minor clarity cleanups for SpawnStrategyRegistry's Builder
  src/main/java/com/google/devtools/build/lib/exec/SpawnStrategyRegistry.java
Owners: none

Add test cases for OptionsParser considering allowResidue
  src/test/java/com/google/devtools/common/options/OptionsParserTest.java
Owners: none

Use '~' instead of '.' as the canonical repo name separator
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelModuleResolutionFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelModuleResolutionValue.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionResolutionFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleKey.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/SingleExtensionEvalFunction.java
  src/main/java/com/google/devtools/build/lib/cmdline/RepositoryName.java
  src/main/java/com/google/devtools/build/lib/skyframe/RepositoryMappingFunction.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BazelModuleResolutionFunctionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BzlmodRepoRuleHelperTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionResolutionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileFunctionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/StarlarkBazelModuleTest.java
  src/test/java/com/google/devtools/build/lib/cmdline/RepositoryNameTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/BzlLoadFunctionTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/RegisteredExecutionPlatformsFunctionTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/RegisteredToolchainsFunctionTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/RepositoryMappingFunctionTest.java
  src/test/py/bazel/bzlmod/bazel_module_test.py
  src/test/shell/bazel/local_repository_test.sh
Owners: @Wyverald, @meteorcloudy

Change the return type of `FilesetTraversalParams#getDirectTraversal` from `Optional<DirectTraversal>` to `DirectTraversal`.
  src/main/java/com/google/devtools/build/lib/actions/FilesetTraversalParams.java
  src/main/java/com/google/devtools/build/lib/actions/FilesetTraversalParamsFactory.java
  src/main/java/com/google/devtools/build/lib/skyframe/FilesetEntryFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/FilesetTraversalRequest.java
Owners: none

Clarify the comment for RemoteActionInputFetcher.
  src/main/java/com/google/devtools/build/lib/remote/RemoteActionInputFetcher.java
Owners: @bazelbuild/remote-execution

Remove ThreadSanitizer errors from Workers tests.
  src/test/java/com/google/devtools/build/lib/worker/TestUtils.java
  src/test/java/com/google/devtools/build/lib/worker/WorkerMultiplexerTest.java
Owners: none

JavaToolchain: Use FilesToRunProvider for oneversion tool
  src/main/java/com/google/devtools/build/lib/rules/java/JavaToolchain.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaToolchainProvider.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaToolchainRule.java
  src/main/java/com/google/devtools/build/lib/rules/java/OneVersionCheckActionBuilder.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/java/JavaToolchainStarlarkApiProviderApi.java
Owners: @lberki

Create community update page
  site/en/_book.yaml
  site/en/_index.yaml
  site/en/community/update.md
Owners: @gregestren, @philomathing, @fweikert

Add script to build release documentation
  .bazelrc
  BUILD
  WORKSPACE
  scripts/BUILD
  scripts/docs/BUILD
  scripts/docs/README.md
  scripts/docs/create_release_docs.py
  scripts/docs/get_workspace_status.sh
  scripts/docs/rewriter.py
  scripts/docs/rewriter_test.py
  scripts/docs/testdata/expected_output/_book.yaml
  scripts/docs/testdata/expected_output/doc.md
  scripts/docs/testdata/expected_output/markdown_with_html.md
  scripts/docs/testdata/expected_output/site.html
  scripts/docs/testdata/expected_output/yaml_with_html.yaml
  scripts/docs/testdata/input/VERSION
  scripts/docs/testdata/input/_book.yaml
  scripts/docs/testdata/input/doc.md
  scripts/docs/testdata/input/markdown_with_html.md
  scripts/docs/testdata/input/site.html
  scripts/docs/testdata/input/yaml_with_html.yaml
  site/BUILD
  site/en/BUILD
  site/en/versions/_toc.yaml
  src/main/java/com/google/devtools/build/docgen/release/BUILD
  src/main/java/com/google/devtools/build/docgen/release/TableOfContentsOptions.java
  src/main/java/com/google/devtools/build/docgen/release/TableOfContentsUpdater.java
  tools/build_defs/repo/BUILD
Owners: @gregestren, @philomathing, @fweikert

Fix failing test
  src/test/java/com/google/devtools/build/lib/rules/LabelBuildSettingTest.java
Owners: none

Correctly convert values for label-typed build settings in transitions
  src/main/java/com/google/devtools/build/lib/analysis/starlark/FunctionTransitionUtil.java
  src/main/java/com/google/devtools/build/lib/rules/BUILD
  src/main/java/com/google/devtools/build/lib/rules/LabelBuildSettings.java
  src/test/java/com/google/devtools/build/lib/rules/BUILD
  src/test/java/com/google/devtools/build/lib/rules/LabelBuildSettingTest.java
Owners: @bazelbuild/configurability, @lberki

Merge `ThinNodeEntry` and `NodeEntry` interfaces.
  src/main/java/com/google/devtools/build/skyframe/AbstractParallelEvaluator.java
  src/main/java/com/google/devtools/build/skyframe/DelegatingNodeEntry.java
  src/main/java/com/google/devtools/build/skyframe/DirtyBuildingState.java
  src/main/java/com/google/devtools/build/skyframe/EvaluationProgressReceiver.java
  src/main/java/com/google/devtools/build/skyframe/InvalidatingNodeVisitor.java
  src/main/java/com/google/devtools/build/skyframe/NodeEntry.java
  src/main/java/com/google/devtools/build/skyframe/QueryableGraph.java
  src/main/java/com/google/devtools/build/skyframe/ThinNodeEntry.java
  src/test/java/com/google/devtools/build/lib/skyframe/rewinding/RewindingTestsHelper.java
  src/test/java/com/google/devtools/build/skyframe/DeterministicHelper.java
  src/test/java/com/google/devtools/build/skyframe/GraphTest.java
  src/test/java/com/google/devtools/build/skyframe/InMemoryNodeEntryTest.java
  src/test/java/com/google/devtools/build/skyframe/MemoizingEvaluatorTest.java
  src/test/java/com/google/devtools/build/skyframe/NotifyingHelper.java
Owners: none

Add a flag to force Bazel to download certain artifacts when using --remote_download_minimal
  src/main/java/com/google/devtools/build/lib/remote/RemoteExecutionService.java
  src/main/java/com/google/devtools/build/lib/remote/options/RemoteOptions.java
  src/test/shell/bazel/remote/build_without_the_bytes_test.sh
Owners: @bazelbuild/remote-execution

Fire ActionInputCollectedEvent after inputs are collected but before these inputs are requested to skyframe.
  src/main/java/com/google/devtools/build/lib/exec/SpawnStrategyRegistry.java
  src/main/java/com/google/devtools/build/lib/skyframe/ActionExecutionFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/ActionInputCollectedEvent.java
  src/main/java/com/google/devtools/build/lib/skyframe/BUILD
  src/main/java/com/google/devtools/build/lib/skyframe/SkyframeActionExecutor.java
Owners: none

Bazel DevSite: Fix main class of toc_updater target.
  src/main/java/com/google/devtools/build/docgen/release/BUILD
Owners: none

Introduce `SkyframeExecutor#processDiscardAndDetermineRemoval` to modularize analysis cache node removal logic.
  src/main/java/com/google/devtools/build/lib/skyframe/SkyframeExecutor.java
Owners: none

Use `ConcurrentHashMap` to discard unnecessary analysis cache data in parallel.
  src/main/java/com/google/devtools/build/lib/skyframe/SequencedSkyframeExecutor.java
  src/main/java/com/google/devtools/build/lib/skyframe/SkyframeBuildView.java
  src/main/java/com/google/devtools/build/lib/skyframe/SkyframeExecutor.java
  src/main/java/com/google/devtools/build/skyframe/AbstractInMemoryMemoizingEvaluator.java
  src/main/java/com/google/devtools/build/skyframe/MemoizingEvaluator.java
  src/test/java/com/google/devtools/build/lib/analysis/AnalysisCachingTest.java
  src/test/java/com/google/devtools/build/lib/analysis/util/BuildViewForTesting.java
  src/test/java/com/google/devtools/build/lib/view/cpp/CppTemplateTest.java
  src/test/java/com/google/devtools/build/skyframe/MemoizingEvaluatorTest.java
Owners: @bazelbuild/configurability

Automated rollback of commit 4ccc21f2f089971e5f4032397764a4be3549c40a.
  src/main/java/com/google/devtools/build/lib/packages/Package.java
  src/main/java/com/google/devtools/build/lib/packages/PackageFactory.java
  src/main/java/com/google/devtools/build/lib/skyframe/WorkspaceFileFunction.java
  src/test/java/com/google/devtools/build/lib/bazel/repository/starlark/BUILD
  src/test/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkRepositoryContextTest.java
  src/test/java/com/google/devtools/build/lib/packages/BUILD
  src/test/java/com/google/devtools/build/lib/packages/RuleFactoryTest.java
  src/test/java/com/google/devtools/build/lib/packages/WorkspaceFactoryTestHelper.java
Owners: none

Only set up the ExecutionProgressReceiver after the first SomeExecutionStartedEvent.
  src/main/java/com/google/devtools/build/lib/buildtool/ExecutionTool.java
Owners: none

Accept tildes in --override_repository
  src/main/java/com/google/devtools/build/lib/bazel/repository/RepositoryOptions.java
  src/test/java/com/google/devtools/build/lib/bazel/repository/RepositoryOptionsTest.java
Owners: none

Make `TaggedEvents#getEvents` public.
  src/main/java/com/google/devtools/build/skyframe/TaggedEvents.java
Owners: none

Bazel DevSite: Fix visibility of snakeyaml.
  WORKSPACE
Owners: none

Add test cases for GenericTypeHelper class
  src/test/java/com/google/devtools/common/options/GenericTypeHelperTest.java
Owners: none

Internal change.
  src/main/java/com/google/devtools/build/lib/buildeventservice/BUILD
  src/main/java/com/google/devtools/build/lib/buildeventservice/BuildEventServiceModule.java
  src/main/java/com/google/devtools/build/lib/runtime/TargetSummaryPublisher.java
Owners: none

Bazel DevSite: Build Bazel nightly & release docs as part of the CI presubmit.
  .bazelci/presubmit.yml
Owners: none

Forward detailed timing breakdown of test results
  src/main/java/com/google/devtools/build/lib/exec/BUILD
  src/main/java/com/google/devtools/build/lib/exec/StandaloneTestStrategy.java
Owners: none

Remove the old style of successful target/aspect collection.
  src/main/java/com/google/devtools/build/lib/bazel/rules/BazelRulesModule.java
  src/main/java/com/google/devtools/build/lib/buildtool/BuildRequestOptions.java
  src/main/java/com/google/devtools/build/lib/buildtool/BuildTool.java
  src/main/java/com/google/devtools/build/lib/buildtool/ExecutionProgressReceiver.java
  src/main/java/com/google/devtools/build/lib/buildtool/ExecutionTool.java
  src/main/java/com/google/devtools/build/lib/buildtool/SkyframeBuilder.java
  src/main/java/com/google/devtools/build/lib/skyframe/Builder.java
  src/test/java/com/google/devtools/build/lib/skyframe/BUILD
  src/test/java/com/google/devtools/build/lib/skyframe/SequencedSkyframeExecutorTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/SkyframeAwareActionTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/TimestampBuilderTestCase.java
Owners: none

Remove unnecessary null check in `discardPreExecutionCache`.
  src/main/java/com/google/devtools/build/lib/skyframe/SkyframeExecutor.java
Owners: none

Create enforce_min_sdk_floor.
  tools/android/enforce_min_sdk_floor.py
  tools/android/enforce_min_sdk_floor_test.py
Owners: @ahumesky, @ted-xie

Remove unused MetricsEvents.
  src/main/java/com/google/devtools/build/lib/buildtool/BuildTool.java
  src/main/java/com/google/devtools/build/lib/buildtool/CollectMetricsEvent.java
  src/main/java/com/google/devtools/build/lib/worker/BUILD
  src/main/java/com/google/devtools/build/lib/worker/WorkerMetricsEvent.java
Owners: none

Deprecate `DIRTY_PARENT_HAD_MISSING_CHILD`.
  src/main/java/com/google/devtools/build/skyframe/AbstractParallelEvaluator.java
  src/main/java/com/google/devtools/build/skyframe/graph_inconsistency.proto
  src/test/java/com/google/devtools/build/skyframe/MemoizingEvaluatorTest.java
Owners: none

Fix _get_clang_version on Windows
  tools/cpp/windows_cc_configure.bzl
Owners: none

Fix some Python integration tests to pick up rules_cc from distdir_deps.bzl instead of from a very old pinned commit embedded in the code.
  src/test/py/bazel/BUILD
  src/test/py/bazel/test_base.py
Owners: none

Add factory for creating paths relative to well-known roots
  src/main/java/com/google/devtools/build/lib/runtime/CommandLinePathFactory.java
  src/test/java/com/google/devtools/build/lib/runtime/CommandLinePathFactoryTest.java
Owners: none
