Repository tlongeri/bazel, changes with the owners that CODEOWNERS names for each.
All owners: @ahumesky, @ted-xie, @kevin1e100, @bazelbuild/rules_apple-team, @allevato, @davidgoldman, @dmaclach, @kelvinchan-google, @reinhillman, @thomasvl, @Wyverald, @meteorcloudy, @gregestren, @philomathing, @fweikert, @oquenchil, @bazelbuild/java-team, @bazelbuild/intellij, @asmundak, @lberki, @brandjon, @tetromino, @bazelbuild/configurability, @bazelbuild/remote-execution

Default experimental_inmemory_dotd_files to true
  src/main/java/com/google/devtools/build/lib/rules/cpp/CppOptions.java
Owners: @lberki

Sure up handling of events and posts from sky functions.
  src/main/java/com/google/devtools/build/lib/events/Event.java
  src/main/java/com/google/devtools/build/lib/events/ExtendedEventHandler.java
  src/main/java/com/google/devtools/build/lib/events/Reportable.java
  src/main/java/com/google/devtools/build/lib/skyframe/SequencedSkyframeExecutor.java
  src/main/java/com/google/devtools/build/lib/skyframe/SkyframeExecutor.java
  src/main/java/com/google/devtools/build/lib/skyframe/packages/AbstractPackageLoader.java
  src/main/java/com/google/devtools/build/lib/skyframe/packages/BUILD
  src/main/java/com/google/devtools/build/skyframe/AbstractParallelEvaluator.java
  src/main/java/com/google/devtools/build/skyframe/EventFilter.java
  src/main/java/com/google/devtools/build/skyframe/InMemoryMemoizingEvaluator.java
  src/main/java/com/google/devtools/build/skyframe/MemoizingEvaluator.java
  src/main/java/com/google/devtools/build/skyframe/ParallelEvaluator.java
  src/main/java/com/google/devtools/build/skyframe/ParallelEvaluatorContext.java
  src/main/java/com/google/devtools/build/skyframe/SkyFunction.java
  src/main/java/com/google/devtools/build/skyframe/SkyFunctionEnvironment.java
  src/main/java/com/google/devtools/build/skyframe/TaggedEvents.java
  src/main/java/com/google/devtools/build/skyframe/ValueWithMetadata.java
  src/test/java/com/google/devtools/build/lib/actions/util/ActionsTestUtil.java
  src/test/java/com/google/devtools/build/lib/rules/cpp/StarlarkCcCommonTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/SequencedSkyframeExecutorTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/TimestampBuilderTestCase.java
  src/test/java/com/google/devtools/build/lib/starlark/StarlarkRuleContextTest.java
  src/test/java/com/google/devtools/build/skyframe/EagerInvalidatorTest.java
  src/test/java/com/google/devtools/build/skyframe/GraphTester.java
  src/test/java/com/google/devtools/build/skyframe/InMemoryNodeEntryTest.java
  src/test/java/com/google/devtools/build/skyframe/MemoizingEvaluatorTest.java
  src/test/java/com/google/devtools/build/skyframe/ParallelEvaluatorTest.java
Owners: @oquenchil

Fix documentation for use_{cpp,cc}_toolchain.
  tools/cpp/toolchain_utils.bzl
Owners: none

Remove unused `GroupedList` methods.
  src/main/java/com/google/devtools/build/lib/util/GroupedList.java
  src/test/java/com/google/devtools/build/lib/util/GroupedListTest.java
Owners: none

Requires delayed release
  src/main/java/com/google/devtools/build/lib/skyframe/RecursivePackageProviderBackedTargetPatternResolver.java
Owners: none

Use new grpc version
  WORKSPACE
  distdir_deps.bzl
  scripts/bootstrap/compile.sh
Owners: none

Reduce AndroidAssetMerger intermediate outputs
  src/main/java/com/google/devtools/build/lib/rules/android/AndroidAssets.java
  src/main/java/com/google/devtools/build/lib/rules/android/AndroidConfiguration.java
  src/main/java/com/google/devtools/build/lib/rules/android/MergedAndroidAssets.java
  src/test/shell/bazel/android/android_integration_test.sh
  src/tools/android/java/com/google/devtools/build/android/AndroidAssetMergingAction.java
  src/tools/android/java/com/google/devtools/build/android/AndroidResourceMerger.java
Owners: @lberki, @ahumesky, @ted-xie

Clear the incremental action conflict checker's states as soon as the analysis work is done.
  src/main/java/com/google/devtools/build/lib/analysis/AnalysisOperationWatcher.java
  src/main/java/com/google/devtools/build/lib/skyframe/IncrementalArtifactConflictFinder.java
  src/main/java/com/google/devtools/build/lib/skyframe/SkyframeBuildView.java
  src/main/java/com/google/devtools/build/lib/skyframe/SkyframeExecutor.java
Owners: @bazelbuild/configurability

Don't claim that Blaze crashed when all it did was encounter an unexpected exception in `SkyframeTargetPatternEvaluator#preloadTargetPatterns`.
  src/main/java/com/google/devtools/build/lib/skyframe/SkyframeTargetPatternEvaluator.java
Owners: none

Don't store events or posts in non-incremental builds.
  src/main/java/com/google/devtools/build/lib/events/Reportable.java
  src/main/java/com/google/devtools/build/lib/skyframe/SequencedSkyframeExecutor.java
  src/main/java/com/google/devtools/build/lib/skyframe/SkyframeExecutor.java
  src/test/java/com/google/devtools/build/lib/buildtool/util/BUILD
  src/test/java/com/google/devtools/build/lib/buildtool/util/BuildIntegrationTestCase.java
  src/test/java/com/google/devtools/build/lib/skyframe/SequencedSkyframeExecutorTest.java
Owners: none

Documentation issue: Command-Line Reference grpc_keepalive_time
  src/main/java/com/google/devtools/build/lib/authandtls/AuthAndTLSOptions.java
Owners: none

Remote: Fix performance regression in "upload missing inputs".
  src/main/java/com/google/devtools/build/lib/remote/RemoteExecutionCache.java
  src/main/java/com/google/devtools/build/lib/remote/util/AsyncTaskCache.java
  src/test/java/com/google/devtools/build/lib/remote/InMemoryRemoteCache.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteCacheTest.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteExecutionServiceTest.java
  src/test/java/com/google/devtools/build/lib/remote/util/InMemoryCacheClient.java
Owners: @bazelbuild/remote-execution

Make macro conventions consistent across documentation
  site/en/rules/bzl-style.md
Owners: @gregestren, @philomathing, @fweikert

D8 desugarer supports persistent workers
  src/test/shell/bazel/android/android_integration_test.sh
  src/tools/android/java/com/google/devtools/build/android/r8/Desugar.java
Owners: @ahumesky, @ted-xie

Stop Blaze crashes due to transition inputs of values Starlark can't read
  src/main/java/com/google/devtools/build/lib/analysis/config/StarlarkDefinedConfigTransition.java
  src/main/java/com/google/devtools/build/lib/analysis/starlark/FunctionTransitionUtil.java
  src/main/java/net/starlark/java/eval/Starlark.java
  src/test/java/com/google/devtools/build/lib/analysis/StarlarkRuleTransitionProviderTest.java
  src/test/java/com/google/devtools/build/lib/analysis/util/DummyTestFragment.java
  src/test/java/net/starlark/java/eval/StarlarkEvaluationTest.java
Owners: @bazelbuild/configurability, @brandjon, @tetromino

Add integration tests for --experimental_credential_helper.
  src/test/shell/bazel/remote/remote_execution_test.sh
  src/tools/remote/src/main/java/com/google/devtools/build/remote/worker/RemoteWorker.java
  src/tools/remote/src/main/java/com/google/devtools/build/remote/worker/RemoteWorkerOptions.java
Owners: @bazelbuild/remote-execution

Support static_link_cpp_runtimes feature in apple linking
  src/main/java/com/google/devtools/build/lib/rules/objc/CompilationSupport.java
  src/test/java/com/google/devtools/build/lib/packages/util/Crosstool.java
  src/test/java/com/google/devtools/build/lib/packages/util/mock/osx_cc_toolchain_config.bzl
  src/test/java/com/google/devtools/build/lib/rules/objc/AppleBinaryStarlarkApiTest.java
Owners: @lberki

Set compile time classpath for Starlark java_binary for compilation_info
  src/main/java/com/google/devtools/build/lib/rules/java/JavaStarlarkCommon.java
Owners: @lberki

Extend ctx.expand_location() to return short paths
  src/main/java/com/google/devtools/build/lib/analysis/LocationExpander.java
  src/main/java/com/google/devtools/build/lib/analysis/starlark/StarlarkRuleContext.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/StarlarkRuleContextApi.java
  src/test/java/com/google/devtools/build/lib/analysis/LocationExpanderIntegrationTest.java
  src/test/java/com/google/devtools/build/lib/starlark/StarlarkRuleImplementationFunctionsTest.java
Owners: @bazelbuild/configurability

Remove DylibDependingRule, PlatformRule and MultiArchPlatformRule.
  src/main/java/com/google/devtools/build/lib/bazel/rules/ObjcRules.java
  src/main/java/com/google/devtools/build/lib/rules/objc/MultiArchSplitTransitionProvider.java
  src/main/java/com/google/devtools/build/lib/rules/objc/ObjcRuleClasses.java
Owners: @lberki

Expose actions fixed environment variables specified through feature configuration to Starlark
  src/main/java/com/google/devtools/build/lib/actions/AbstractAction.java
  src/main/java/com/google/devtools/build/lib/actions/BUILD
  src/main/java/com/google/devtools/build/lib/packages/semantics/BuildLanguageOptions.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/ActionApi.java
  src/test/shell/bazel/cc_integration_test.sh
Owners: none

Let labels in --aspect go through repo mapping
  src/main/java/com/google/devtools/build/lib/analysis/BUILD
  src/main/java/com/google/devtools/build/lib/analysis/BuildView.java
  src/test/java/com/google/devtools/build/lib/starlark/StarlarkDefinedAspectsTest.java
Owners: @bazelbuild/configurability

Fix 'No such file or directory' error when creating an empty fileset .
  src/main/java/com/google/devtools/build/lib/analysis/actions/SymlinkAction.java
Owners: @bazelbuild/configurability

Revert interface_deps back to implementation_deps
  src/main/java/com/google/devtools/build/lib/bazel/rules/cpp/BazelCcLibraryRule.java
  src/main/java/com/google/devtools/build/lib/bazel/rules/cpp/BazelCppSemantics.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CcLibrary.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CppConfiguration.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CppOptions.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CppRuleClasses.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CppSemantics.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/ObjcCppSemantics.java
  src/main/starlark/builtins_bzl/common/cc/cc_library.bzl
  src/main/starlark/builtins_bzl/common/cc/semantics.bzl
  src/test/java/com/google/devtools/build/lib/rules/cpp/CcLibraryConfiguredTargetTest.java
  src/test/java/com/google/devtools/build/lib/rules/cpp/MockCppSemantics.java
  src/test/java/com/google/devtools/build/lib/rules/cpp/StarlarkCcCommonTest.java
  src/test/shell/bazel/bazel_layering_check_test.sh
Owners: @lberki, @oquenchil

[Skymeld] Handle cases where ConfiguredTarget.getConfigurationKey is null.
  src/main/java/com/google/devtools/build/lib/analysis/constraints/TopLevelConstraintSemantics.java
  src/main/java/com/google/devtools/build/lib/skyframe/BuildDriverFunction.java
  src/test/java/com/google/devtools/build/lib/buildtool/SkymeldBuildIntegrationTest.java
Owners: @bazelbuild/configurability

Update the comments in the various protos to reflect the new definitions with Skymeld.
  src/main/java/com/google/devtools/build/lib/buildeventstream/proto/build_event_stream.proto
Owners: none

Clarify that the JSON worker protocol uses camel-case and update the examples to match.
  site/en/docs/creating-workers.md
  site/en/docs/persistent-workers.md
Owners: @gregestren, @philomathing, @fweikert

update upb
  distdir_deps.bzl
Owners: none

Remove unused deprecated method from `SpawnAction.Builder`.
  src/main/java/com/google/devtools/build/lib/analysis/actions/SpawnAction.java
  src/test/java/com/google/devtools/build/lib/analysis/actions/SpawnActionTest.java
Owners: @bazelbuild/configurability

Add lazy template expansion for runtime classpath in java_binary
  src/main/java/com/google/devtools/build/lib/packages/semantics/BuildLanguageOptions.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/StarlarkActionFactoryApi.java
Owners: none

Bootstrapping on Windows requires JDK 11, just like on non-Windows
  site/en/install/compile-source.md
Owners: @gregestren, @philomathing, @fweikert

Add command option incompatible_enable_cgo_toolchain_resolution
  src/main/java/com/google/devtools/build/lib/rules/config/ConfigGlobalLibrary.java
Owners: @lberki

Migrate legacy desugar wrapper to new rlocation()
  tools/android/BUILD.tools
  tools/android/desugar.sh
Owners: @ahumesky, @ted-xie

Generate WORKSPACE for blackbox tests from distdir_deps.
  distdir_deps.bzl
  src/test/java/com/google/devtools/build/lib/blackbox/framework/BUILD
  src/test/java/com/google/devtools/build/lib/blackbox/framework/BlackBoxTestEnvironment.java
Owners: none

Document how to build Bazel on Raspberry Pi
  site/en/install/index.md
Owners: @gregestren, @philomathing, @fweikert

Fix artifact/symlink mismatch detection
  src/main/java/com/google/devtools/build/lib/skyframe/ActionMetadataHandler.java
  src/main/java/com/google/devtools/build/lib/skyframe/SkyframeActionExecutor.java
  src/main/java/com/google/devtools/build/lib/vfs/FileSystem.java
  src/main/java/com/google/devtools/build/lib/vfs/Path.java
  src/test/shell/bazel/bazel_symlink_test.sh
Owners: none

Prefer exception enrichment over interrupt propagation in TargetPatternFunction
  src/main/java/com/google/devtools/build/lib/skyframe/TargetPatternFunction.java
  src/main/java/com/google/devtools/build/skyframe/SkyFunction.java
  src/test/java/com/google/devtools/build/lib/pkgcache/TargetPatternEvaluatorTest.java
Owners: none

Release 6.0.0-pre.20220720.3 (2022-08-02)
  CHANGELOG.md
Owners: none

Propagate the error message when a credential helper fails.
  src/main/java/com/google/devtools/build/lib/authandtls/credentialhelper/CredentialHelper.java
  src/main/java/com/google/devtools/build/lib/authandtls/credentialhelper/CredentialHelperException.java
  src/main/java/com/google/devtools/build/lib/remote/util/BUILD
  src/main/java/com/google/devtools/build/lib/remote/util/Utils.java
  src/test/java/com/google/devtools/build/lib/authandtls/credentialhelper/CredentialHelperTest.java
Owners: @bazelbuild/remote-execution

Drop 32 bit watchOS architectures from a multi-arch Apple build when the indicated minimum OS is watchOS 9.0 or higher.
  src/main/java/com/google/devtools/build/lib/rules/objc/MultiArchBinarySupport.java
  src/test/java/com/google/devtools/build/lib/packages/util/MockObjcSupport.java
  src/test/java/com/google/devtools/build/lib/packages/util/MockPlatformSupport.java
  src/test/java/com/google/devtools/build/lib/packages/util/mock/osx_cc_toolchain_config.bzl
  src/test/java/com/google/devtools/build/lib/rules/objc/AppleBinaryStarlarkApiTest.java
  src/test/java/com/google/devtools/build/lib/rules/objc/AppleDynamicLibraryTest.java
  src/test/java/com/google/devtools/build/lib/rules/objc/ObjcRuleTestCase.java
Owners: @lberki

CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# Order is important; the last matching pattern takes the most precedence.

# When someone opens a pull request that only modifies files in directory, only
# component owners and not the global owner(s) will be requested for a review.

# Syntax: https://help.github.com/articles/about-codeowners/

# Use individual usernames instead of teams (like @bazelbuild/android) for
# auto-assignment to work, unless everyone in the team has write permissions to the repository.
# See https://github.community/t5/How-to-use-Git-and-GitHub/CODEOWNERS-works-with-users-but-not-teams/td-p/4986

# Component owners
# ----------------

# Android

# android/ directory anywhere in the repository
android/ @ahumesky @ted-xie

/src/tools/android/java/com/google/devtools/build/android/desugar/ @ahumesky @ted-xie @kevin1e100

/src/test/java/com/google/devtools/build/android/desugar/ @ahumesky @ted-xie @kevin1e100

/src/tools/android/java/com/google/devtools/build/android/dexer/ @ahumesky @ted-xie @kevin1e100

/src/test/java/com/google/devtools/build/android/dexer/ @ahumesky @ted-xie @kevin1e100

# Apple

/src/main/java/com/google/devtools/build/lib/rules/apple @bazelbuild/rules_apple-team
/src/test/java/com/google/devtools/build/lib/rules/apple @bazelbuild/rules_apple-team
/src/test/shell/bazel/apple @allevato @davidgoldman @dmaclach @kelvinchan-google @reinhillman @thomasvl @bazelbuild/rules_apple-team
/tools/osx @bazelbuild/rules_apple-team

# Bzlmod

/src/main/java/com/google/devtools/build/lib/bazel/bzlmod @Wyverald @meteorcloudy
/src/test/java/com/google/devtools/build/lib/bazel/bzlmod @Wyverald @meteorcloudy
/src/test/py/bazel/bzlmod @Wyverald @meteorcloudy

# Documentation

/site @gregestren @philomathing @fweikert

# C++

/src/tools/cpp @oquenchil

/src/test/shell/bazel/cpp @oquenchil

/src/test/java/com/google/devtools/build/lib/rules/cpp/ @oquenchil

/src/main/java/com/google/devtools/build/lib/rules/cpp/ @oquenchil

# Java

/src/java_tools/buildjar/ @bazelbuild/java-team

/src/main/java/com/google/devtools/build/lib/ideinfo/ @bazelbuild/intellij

/src/tools/singlejar/ @asmundak

# Execution and I/O related code

/src/main/java/com/google/devtools/build/lib/rules/ @lberki

# Starlark

/src/main/java/net/starlark/java/ @brandjon @tetromino

/tools/coverage/ @lberki
/tools/test/collect_coverage.sh @lberki
/tools/test/collect_cc_coverage.sh @lberki
/tools/test/CoverageOutputGenerator/ @lberki

# Configurability

/src/main/java/com/google/devtools/build/lib/analysis @bazelbuild/configurability
/src/test/java/com/google/devtools/build/lib/analysis @bazelbuild/configurability
/src/main/java/com/google/devtools/build/lib/rules/platform @bazelbuild/configurability
/src/test/java/com/google/devtools/build/lib/rules/platform @bazelbuild/configurability
/tools/platforms @bazelbuild/configurability

# Remote Execution

/src/main/java/com/google/devtools/build/lib/remote @bazelbuild/remote-execution
/src/test/java/com/google/devtools/build/lib/remote @bazelbuild/remote-execution
/src/test/py/bazel/remote @bazelbuild/remote-execution
/src/test/shell/bazel/remote @bazelbuild/remote-execution
/src/tools/remote @bazelbuild/remote-execution
/third_party/remoteapis/build/bazel/remote @bazelbuild/remote-execution
