Repository tlongeri/bazel, changes with the owners that CODEOWNERS names for each.
All owners: @ahumesky, @ted-xie, @kevin1e100, @bazelbuild/rules_apple-team, @allevato, @davidgoldman, @dmaclach, @kelvinchan-google, @reinhillman, @thomasvl, @Wyverald, @meteorcloudy, @gregestren, @philomathing, @fweikert, @oquenchil, @bazelbuild/java-team, @bazelbuild/intellij, @asmundak, @lberki, @brandjon, @tetromino, @bazelbuild/configurability, @bazelbuild/remote-execution

Add @Nullable annotations where they were missing.
  src/main/java/com/google/devtools/build/lib/skyframe/packages/AbstractPackageLoader.java
Owners: none

Add @Nullable annotations where they were missing.
  src/main/java/com/google/devtools/build/lib/query2/query/output/OutputFormatters.java
Owners: none

Add @Nullable annotations where they were missing.
  src/main/java/com/google/devtools/build/lib/skyframe/serialization/ObjectCodecRegistry.java
Owners: none

Internal change.
  src/main/java/com/google/devtools/build/lib/skyframe/BuildDriverFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/TopLevelStatusEvents.java
Owners: none

Introduce aliases in @bazel_tools for protobuf
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleKey.java
  src/main/java/com/google/devtools/build/lib/bazel/rules/java/proto/BazelJavaLiteProtoAspect.java
  src/main/java/com/google/devtools/build/lib/bazel/rules/java/proto/BazelJavaProtoAspect.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/proto/CcProtoAspect.java
  src/main/java/com/google/devtools/build/lib/rules/proto/ProtoConfiguration.java
  src/main/java/com/google/devtools/build/lib/rules/proto/ProtoConstants.java
  src/main/starlark/builtins_bzl/common/proto/proto_semantics.bzl
  src/test/java/com/google/devtools/build/lib/analysis/mock/BazelAnalysisMock.java
  src/test/java/com/google/devtools/build/lib/rules/proto/BUILD
  src/test/java/com/google/devtools/build/lib/rules/proto/ProtoLangToolchainTest.java
  tools/BUILD
  tools/proto/BUILD
Owners: @Wyverald, @meteorcloudy, @lberki, @bazelbuild/configurability

Mark appropriate methods as @Nullable in BuildDriverFunction.
  src/main/java/com/google/devtools/build/lib/skyframe/BuildDriverFunction.java
Owners: none

Fail the build on repository rule errors in a module extension
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BzlmodRepoRuleCreator.java
  src/main/java/com/google/devtools/build/lib/skyframe/BzlmodRepoRuleFunction.java
  src/test/py/bazel/bzlmod/bazel_module_test.py
Owners: @Wyverald, @meteorcloudy

Add @Nullable annotations where they were missing.
  src/main/java/com/google/devtools/build/lib/query2/cquery/BuildOutputFormatterCallback.java
  src/main/java/com/google/devtools/build/lib/query2/cquery/CqueryThreadsafeCallback.java
Owners: none

Add is_root struct field to bazel_module
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/StarlarkBazelModule.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionResolutionTest.java
Owners: @Wyverald, @meteorcloudy

Enforce usage of LabelConverter as the context in Type#convert
  src/main/java/com/google/devtools/build/lib/analysis/starlark/StarlarkRuleContext.java
  src/main/java/com/google/devtools/build/lib/packages/Attribute.java
  src/main/java/com/google/devtools/build/lib/packages/BuildType.java
  src/main/java/com/google/devtools/build/lib/packages/Package.java
  src/main/java/com/google/devtools/build/lib/packages/PackageArgument.java
  src/main/java/com/google/devtools/build/lib/packages/StarlarkLibrary.java
  src/main/java/com/google/devtools/build/lib/packages/StarlarkNativeModule.java
  src/main/java/com/google/devtools/build/lib/packages/Type.java
  src/test/java/com/google/devtools/build/lib/packages/BuildTypeTest.java
  src/test/java/com/google/devtools/build/lib/packages/OutputFileTest.java
  src/test/java/com/google/devtools/build/lib/packages/TypeTest.java
Owners: @bazelbuild/configurability

Automatic code cleanup.
  src/main/java/com/google/devtools/build/lib/analysis/CommandHelper.java
  src/main/java/com/google/devtools/build/lib/analysis/ConfiguredAspect.java
  src/main/java/com/google/devtools/build/lib/analysis/ConfiguredRuleClassProvider.java
  src/main/java/com/google/devtools/build/lib/analysis/RequiredConfigFragmentsProvider.java
  src/main/java/com/google/devtools/build/lib/analysis/RuleConfiguredTargetBuilder.java
  src/main/java/com/google/devtools/build/lib/analysis/RuleContext.java
  src/main/java/com/google/devtools/build/lib/analysis/Runfiles.java
  src/main/java/com/google/devtools/build/lib/analysis/ToolchainCollection.java
  src/main/java/com/google/devtools/build/lib/analysis/TransitiveInfoProviderMapBuilder.java
  src/main/java/com/google/devtools/build/lib/runtime/BlazeRuntime.java
  src/main/java/com/google/devtools/build/lib/runtime/BuildEventArtifactUploaderFactoryMap.java
  src/main/java/com/google/devtools/build/lib/runtime/BuildEventStreamer.java
  src/main/java/com/google/devtools/build/lib/runtime/ProcessWrapper.java
  src/main/java/com/google/devtools/build/lib/runtime/ServerBuilder.java
  src/main/java/com/google/devtools/build/lib/runtime/TestSummary.java
  src/main/java/com/google/devtools/build/lib/runtime/WorkspaceBuilder.java
  src/tools/android/java/com/google/devtools/build/android/ziputils/CentralDirectory.java
  src/tools/android/java/com/google/devtools/build/android/ziputils/DataDescriptor.java
  src/tools/android/java/com/google/devtools/build/android/ziputils/DirectoryEntry.java
  src/tools/android/java/com/google/devtools/build/android/ziputils/EndOfCentralDirectory.java
  src/tools/android/java/com/google/devtools/build/android/ziputils/LocalFileHeader.java
  src/tools/android/java/com/google/devtools/build/android/ziputils/SplitZip.java
  src/tools/android/java/com/google/devtools/build/android/ziputils/ZipIn.java
Owners: @bazelbuild/configurability, @ahumesky, @ted-xie

Add @Nullable annotations where they were missing.
  src/main/java/com/google/devtools/build/lib/bugreport/BugReport.java
Owners: none

Add @Nullable annotations where they were missing.
  src/main/java/com/google/devtools/build/lib/profiler/BUILD
  src/main/java/com/google/devtools/build/lib/profiler/grapher/ProfileGrapher.java
Owners: none

Add @Nullable annotations where they were missing.
  src/main/java/com/google/devtools/build/lib/includescanning/IncludeParser.java
  src/main/java/com/google/devtools/build/lib/includescanning/LegacyIncludeScanner.java
  src/main/java/com/google/devtools/build/lib/includescanning/SwigIncludeParser.java
Owners: none

Add @Nullable annotations where they were missing.
  src/main/java/com/google/devtools/build/lib/vfs/FileSystem.java
  src/main/java/com/google/devtools/build/lib/vfs/FileSystemUtils.java
  src/main/java/com/google/devtools/build/lib/vfs/IORuntimeException.java
  src/main/java/com/google/devtools/build/lib/vfs/JavaIoFileSystem.java
  src/main/java/com/google/devtools/build/lib/vfs/PathFragment.java
  src/main/java/com/google/devtools/build/lib/vfs/Root.java
  src/main/java/com/google/devtools/build/lib/vfs/SyscallCache.java
  src/main/java/com/google/devtools/build/lib/vfs/UnixGlob.java
Owners: none

Add @Nullable annotations where they were missing.
  src/main/java/com/google/devtools/build/lib/rules/nativedeps/NativeDepsHelper.java
Owners: @lberki

Add @Nullable annotations where they were missing.
  src/main/java/com/google/devtools/build/lib/rules/android/AndroidAssetsInfo.java
  src/main/java/com/google/devtools/build/lib/rules/android/AndroidBinaryMobileInstall.java
  src/main/java/com/google/devtools/build/lib/rules/android/AndroidCommon.java
  src/main/java/com/google/devtools/build/lib/rules/android/AndroidConfiguration.java
  src/main/java/com/google/devtools/build/lib/rules/android/AndroidIdlHelper.java
  src/main/java/com/google/devtools/build/lib/rules/android/AndroidResources.java
  src/main/java/com/google/devtools/build/lib/rules/android/AndroidRuleClasses.java
  src/main/java/com/google/devtools/build/lib/rules/android/AndroidSdkProvider.java
  src/main/java/com/google/devtools/build/lib/rules/android/DexArchiveAspect.java
  src/main/java/com/google/devtools/build/lib/rules/android/ManifestMergerActionBuilder.java
Owners: @lberki

Add @Nullable annotations where they were missing.
  src/main/java/com/google/devtools/build/lib/rules/objc/J2ObjcAspect.java
  src/main/java/com/google/devtools/build/lib/rules/objc/J2ObjcLibraryBaseRule.java
  src/main/java/com/google/devtools/build/lib/rules/objc/ObjcProvider.java
Owners: @lberki

Add @Nullable annotations where they were missing.
  src/main/java/com/google/devtools/build/skyframe/CycleInfo.java
  src/main/java/com/google/devtools/build/skyframe/DelegatingWalkableGraph.java
  src/main/java/com/google/devtools/build/skyframe/InMemoryNodeEntry.java
  src/main/java/com/google/devtools/build/skyframe/SimpleCycleDetector.java
  src/main/java/com/google/devtools/build/skyframe/SkyframeIterableResult.java
  src/main/java/com/google/devtools/build/skyframe/ValueOrUntypedException.java
Owners: none

Add @Nullable annotations where they were missing.
  src/main/java/com/google/devtools/build/lib/bazel/repository/PatchUtil.java
Owners: none

Add @Nullable annotations where they were missing.
  src/main/java/com/google/devtools/build/lib/buildtool/ExecutionTool.java
  src/main/java/com/google/devtools/build/lib/buildtool/SymlinkForest.java
Owners: none

Load output metadata from action cache if outputService is available.
  src/main/java/com/google/devtools/build/lib/remote/RemoteModule.java
  src/main/java/com/google/devtools/build/lib/skyframe/SkyframeActionExecutor.java
Owners: @bazelbuild/remote-execution

Add @Nullable annotations where they were missing.
  src/main/java/net/starlark/java/eval/Dict.java
  src/main/java/net/starlark/java/eval/EvalUtils.java
  src/main/java/net/starlark/java/eval/Module.java
Owners: @brandjon, @tetromino

Add @Nullable annotations where they were missing.
  src/main/java/com/google/devtools/build/lib/query2/NamedThreadSafeOutputFormatterCallback.java
  src/main/java/com/google/devtools/build/lib/query2/SkyQueryUtils.java
Owners: none

Add @Nullable annotations where they were missing.
  src/main/java/com/google/devtools/build/lib/graph/Digraph.java
Owners: none

Add @Nullable annotations where they were missing.
  src/main/java/com/google/devtools/build/lib/analysis/starlark/StarlarkCustomCommandLine.java
  src/main/java/com/google/devtools/build/lib/analysis/starlark/StarlarkLateBoundDefault.java
Owners: @bazelbuild/configurability

Add @Nullable annotations where they were missing.
  src/main/java/com/google/devtools/build/docgen/DocCheckerUtils.java
  src/main/java/com/google/devtools/build/docgen/SourceFileReader.java
Owners: none

Add @Nullable annotations where they were missing.
  src/main/java/com/google/devtools/build/lib/rules/apple/DottedVersion.java
  src/main/java/com/google/devtools/build/lib/rules/apple/XcodeVersionProperties.java
Owners: @lberki

Add @Nullable annotations where they were missing.
  src/main/java/com/google/devtools/build/lib/profiler/Profiler.java
  src/main/java/com/google/devtools/build/lib/profiler/TraceEvent.java
Owners: none

Add @Nullable annotations where they were missing.
  src/main/java/com/google/devtools/build/lib/rules/python/PyExecutable.java
  src/main/java/com/google/devtools/build/lib/rules/python/PyLibrary.java
  src/main/java/com/google/devtools/build/lib/rules/python/PyRuntime.java
  src/main/java/com/google/devtools/build/lib/rules/python/PythonConfiguration.java
Owners: @lberki

Add @Nullable annotations where they were missing.
  src/main/java/com/google/devtools/build/lib/vfs/inmemoryfs/InMemoryFileSystem.java
Owners: none

Add @Nullable annotations where they were missing.
  src/main/java/com/google/devtools/build/lib/remote/common/RemoteCacheClient.java
Owners: @bazelbuild/remote-execution

Add @Nullable annotations where they were missing.
  src/main/java/com/google/devtools/build/lib/authandtls/GoogleAuthUtils.java
Owners: none

Add @Nullable annotations where they were missing.
  src/main/java/com/google/devtools/build/lib/rules/config/ConfigFeatureFlag.java
  src/main/java/com/google/devtools/build/lib/rules/config/FeatureFlagValue.java
Owners: @lberki

Add @Nullable annotations where they were missing.
  src/main/java/com/google/devtools/build/lib/rules/java/proto/JavaLiteProtoAspect.java
  src/main/java/com/google/devtools/build/lib/rules/java/proto/JavaLiteProtoLibrary.java
  src/main/java/com/google/devtools/build/lib/rules/java/proto/JavaProtoAspect.java
Owners: @lberki

Add @Nullable annotations where they were missing.
  src/main/java/com/google/devtools/build/lib/bazel/BazelWorkspaceStatusModule.java
Owners: none

Add @Nullable annotations where they were missing.
  src/main/java/com/google/devtools/build/lib/cmdline/RepositoryName.java
  src/main/java/com/google/devtools/build/lib/cmdline/TargetPattern.java
Owners: none

Add @Nullable annotations where they were missing.
  src/main/java/com/google/devtools/build/lib/rules/cpp/CcBinary.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CcCompilationHelper.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CcModule.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CcStarlarkInternal.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CcToolchainAttributesProvider.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CcToolchainProvider.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CcToolchainProviderHelper.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CcToolchainVariables.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CppCompileAction.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CppConfiguration.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CppHelper.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CppLinkActionBuilder.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CppModuleMap.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CppOptions.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CreateIncSymlinkAction.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/FdoHelper.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/FdoInputFile.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/FdoProfile.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/IncludeProblems.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/LibrariesToLinkCollector.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/LibraryToLink.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/PropellerOptimize.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/PropellerOptimizeInputFile.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/SolibSymlinkAction.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/WriteBuildInfoHeaderAction.java
Owners: @lberki

Add @Nullable annotations where they were missing.
  src/main/java/com/google/devtools/build/lib/rules/java/BUILD
  src/main/java/com/google/devtools/build/lib/rules/java/GenericBuildInfoPropertiesTranslator.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaBinary.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaCompilationHelper.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaCompileAction.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaHelper.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaPluginsFlagAliasRule.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaRuntime.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaSemantics.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaToolchainProvider.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaUtil.java
Owners: @lberki

Add @Nullable annotations where they were missing.
  src/main/java/com/google/devtools/build/lib/runtime/CommandEnvironment.java
  src/main/java/com/google/devtools/build/lib/runtime/CommandLogModule.java
  src/main/java/com/google/devtools/build/lib/runtime/CommonCommandOptions.java
  src/main/java/com/google/devtools/build/lib/runtime/CountingArtifactGroupNamer.java
Owners: none

CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# Order is important; the last matching pattern takes the most precedence.

# When someone opens a pull request that only modifies files in directory, only
# component owners and not the global owner(s) will be requested for a review.

# Syntax: https://help.github.com/articles/about-codeowners/

# Use individual usernames instead of teams (like @bazelbuild/android) for
# auto-assignment to work, unless everyone in the team has write permissions to the repository.
# See https://github.community/t5/How-to-use-Git-and-GitHub/CODEOWNERS-works-with-users-but-not-teams/td-p/4986

# Component owners
# ----------------

# Android

# android/ directory anywhere in the repository
android/ @ahumesky @ted-xie

/src/tools/android/java/com/google/devtools/build/android/desugar/ @ahumesky @ted-xie @kevin1e100

/src/test/java/com/google/devtools/build/android/desugar/ @ahumesky @ted-xie @kevin1e100

/src/tools/android/java/com/google/devtools/build/android/dexer/ @ahumesky @ted-xie @kevin1e100

/src/test/java/com/google/devtools/build/android/dexer/ @ahumesky @ted-xie @kevin1e100

# Apple

/src/main/java/com/google/devtools/build/lib/rules/apple @bazelbuild/rules_apple-team
/src/test/java/com/google/devtools/build/lib/rules/apple @bazelbuild/rules_apple-team
/src/test/shell/bazel/apple @allevato @davidgoldman @dmaclach @kelvinchan-google @reinhillman @thomasvl @bazelbuild/rules_apple-team
/tools/osx @bazelbuild/rules_apple-team

# Bzlmod

/src/main/java/com/google/devtools/build/lib/bazel/bzlmod @Wyverald @meteorcloudy
/src/test/java/com/google/devtools/build/lib/bazel/bzlmod @Wyverald @meteorcloudy
/src/test/py/bazel/bzlmod @Wyverald @meteorcloudy

# Documentation

/site @gregestren @philomathing @fweikert

# C++

/src/tools/cpp @oquenchil

/src/test/shell/bazel/cpp @oquenchil

/src/test/java/com/google/devtools/build/lib/rules/cpp/ @oquenchil

/src/main/java/com/google/devtools/build/lib/rules/cpp/ @oquenchil

# Java

/src/java_tools/buildjar/ @bazelbuild/java-team

/src/main/java/com/google/devtools/build/lib/ideinfo/ @bazelbuild/intellij

/src/tools/singlejar/ @asmundak

# Execution and I/O related code

/src/main/java/com/google/devtools/build/lib/rules/ @lberki

# Starlark

/src/main/java/net/starlark/java/ @brandjon @tetromino

/tools/coverage/ @lberki
/tools/test/collect_coverage.sh @lberki
/tools/test/collect_cc_coverage.sh @lberki
/tools/test/CoverageOutputGenerator/ @lberki

# Configurability

/src/main/java/com/google/devtools/build/lib/analysis @bazelbuild/configurability
/src/test/java/com/google/devtools/build/lib/analysis @bazelbuild/configurability
/src/main/java/com/google/devtools/build/lib/rules/platform @bazelbuild/configurability
/src/test/java/com/google/devtools/build/lib/rules/platform @bazelbuild/configurability
/tools/platforms @bazelbuild/configurability

# Remote Execution

/src/main/java/com/google/devtools/build/lib/remote @bazelbuild/remote-execution
/src/test/java/com/google/devtools/build/lib/remote @bazelbuild/remote-execution
/src/test/py/bazel/remote @bazelbuild/remote-execution
/src/test/shell/bazel/remote @bazelbuild/remote-execution
/src/tools/remote @bazelbuild/remote-execution
/third_party/remoteapis/build/bazel/remote @bazelbuild/remote-execution
