Repository tlongeri/bazel, changes with the owners that CODEOWNERS names for each.
All owners: @ahumesky, @ted-xie, @kevin1e100, @bazelbuild/rules_apple-team, @allevato, @davidgoldman, @dmaclach, @kelvinchan-google, @reinhillman, @thomasvl, @Wyverald, @meteorcloudy, @gregestren, @philomathing, @fweikert, @oquenchil, @bazelbuild/java-team, @bazelbuild/intellij, @asmundak, @lberki, @brandjon, @tetromino, @bazelbuild/configurability, @bazelbuild/remote-execution

CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# Order is important; the last matching pattern takes the most precedence.

# When someone opens a pull request that only modifies files in directory, only
# component owners and not the global owner(s) will be requested for a review.

# Syntax: https://help.github.com/articles/about-codeowners/

# Use individual usernames instead of teams (like @bazelbuild/android) for
# auto-assignment to work, unless everyone in the team has write permissions to the repository.
# See https://github.community/t5/How-to-use-Git-and-GitHub/CODEOWNERS-works-with-users-but-not-teams/td-p/4986

# Component owners
# ----------------

# Android

# android/ directory anywhere in the repository
android/ @ahumesky @ted-xie

/src/tools/android/java/com/google/devtools/build/android/desugar/ @ahumesky @ted-xie @kevin1e100

/src/test/java/com/google/devtools/build/android/desugar/ @ahumesky @ted-xie @kevin1e100

/src/tools/android/java/com/google/devtools/build/android/dexer/ @ahumesky @ted-xie @kevin1e100

/src/test/java/com/google/devtools/build/android/dexer/ @ahumesky @ted-xie @kevin1e100

# Apple

/src/main/java/com/google/devtools/build/lib/rules/apple @bazelbuild/rules_apple-team
/src/test/java/com/google/devtools/build/lib/rules/apple @bazelbuild/rules_apple-team
/src/test/shell/bazel/apple @allevato @davidgoldman @dmaclach @kelvinchan-google @reinhillman @thomasvl @bazelbuild/rules_apple-team
/tools/osx @bazelbuild/rules_apple-team

# Bzlmod

/src/main/java/com/google/devtools/build/lib/bazel/bzlmod @Wyverald @meteorcloudy
/src/test/java/com/google/devtools/build/lib/bazel/bzlmod @Wyverald @meteorcloudy
/src/test/py/bazel/bzlmod @Wyverald @meteorcloudy

# Documentation

/site @gregestren @philomathing @fweikert

# C++

/src/tools/cpp @oquenchil

/src/test/shell/bazel/cpp @oquenchil

/src/test/java/com/google/devtools/build/lib/rules/cpp/ @oquenchil

/src/main/java/com/google/devtools/build/lib/rules/cpp/ @oquenchil

# Java

/src/java_tools/buildjar/ @bazelbuild/java-team

/src/main/java/com/google/devtools/build/lib/ideinfo/ @bazelbuild/intellij

/src/tools/singlejar/ @asmundak

# Execution and I/O related code

/src/main/java/com/google/devtools/build/lib/rules/ @lberki

# Starlark

/src/main/java/net/starlark/java/ @brandjon @tetromino

/tools/coverage/ @lberki
/tools/test/collect_coverage.sh @lberki
/tools/test/collect_cc_coverage.sh @lberki
/tools/test/CoverageOutputGenerator/ @lberki

# Configurability

/src/main/java/com/google/devtools/build/lib/analysis @bazelbuild/configurability
/src/test/java/com/google/devtools/build/lib/analysis @bazelbuild/configurability
/src/main/java/com/google/devtools/build/lib/rules/platform @bazelbuild/configurability
/src/test/java/com/google/devtools/build/lib/rules/platform @bazelbuild/configurability
/tools/platforms @bazelbuild/configurability

# Remote Execution

/src/main/java/com/google/devtools/build/lib/remote @bazelbuild/remote-execution
/src/test/java/com/google/devtools/build/lib/remote @bazelbuild/remote-execution
/src/test/py/bazel/remote @bazelbuild/remote-execution
/src/test/shell/bazel/remote @bazelbuild/remote-execution
/src/tools/remote @bazelbuild/remote-execution
/third_party/remoteapis/build/bazel/remote @bazelbuild/remote-execution

Introduce "exclusive-if-local" tag for disabling parallel local test execution but allowing remote execution if requested.
  src/main/java/com/google/devtools/build/docgen/templates/attributes/common/tags.html
  src/main/java/com/google/devtools/build/lib/analysis/AnalysisAndExecutionResult.java
  src/main/java/com/google/devtools/build/lib/analysis/AnalysisResult.java
  src/main/java/com/google/devtools/build/lib/analysis/BuildView.java
  src/main/java/com/google/devtools/build/lib/analysis/test/TestActionContext.java
  src/main/java/com/google/devtools/build/lib/buildtool/BuildTool.java
  src/main/java/com/google/devtools/build/lib/buildtool/ExecutionTool.java
  src/main/java/com/google/devtools/build/lib/packages/TargetUtils.java
  src/main/java/com/google/devtools/build/lib/skyframe/BuildDriverFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/BuildDriverKey.java
  src/main/java/com/google/devtools/build/lib/skyframe/SkyframeBuildView.java
  src/test/java/com/google/devtools/build/lib/rules/test/TestTargetPropertiesTest.java
Owners: @bazelbuild/configurability

Add asyncClose to the ResourceHandle.
  src/main/java/com/google/devtools/build/lib/actions/ResourceManager.java
  src/main/java/com/google/devtools/build/lib/worker/WorkerSpawnRunner.java
  src/test/java/com/google/devtools/build/lib/actions/ResourceManagerTest.java
Owners: none

Use `--release 11` instead of `-source 11 -target 11` for desugar integration tests
  src/test/java/com/google/devtools/build/android/desugar/covariantreturn/NioBufferRefConverterTest.java
  src/test/java/com/google/devtools/build/android/desugar/lambda/LambdaDesugaringStackTraceTest.java
  src/test/java/com/google/devtools/build/android/desugar/nest/ClassFileFormatTest.java
  src/test/java/com/google/devtools/build/android/desugar/nest/NestAnalyzerTest.java
  src/test/java/com/google/devtools/build/android/desugar/nest/NestDesugaringComplexCasesTest.java
  src/test/java/com/google/devtools/build/android/desugar/nest/NestDesugaringConstructorAccessTest.java
  src/test/java/com/google/devtools/build/android/desugar/nest/NestDesugaringCoreLibTest.java
  src/test/java/com/google/devtools/build/android/desugar/nest/NestDesugaringFieldAccessTest.java
  src/test/java/com/google/devtools/build/android/desugar/nest/NestDesugaringInterfaceMethodAccessTest.java
  src/test/java/com/google/devtools/build/android/desugar/nest/NestDesugaringMethodAccessTest.java
  src/test/java/com/google/devtools/build/android/desugar/testing/junit/DesugarRuleTest.java
  src/test/java/com/google/devtools/build/android/desugar/typeannotation/LocalTypeAnnotationUseTest.java
Owners: @ahumesky, @ted-xie, @kevin1e100

Split out `StarlarkTransition` from `analysis_cluster`.
  src/main/java/com/google/devtools/build/lib/analysis/BUILD
  src/main/java/com/google/devtools/build/lib/skyframe/BUILD
  src/test/java/com/google/devtools/build/lib/analysis/util/BUILD
  src/test/java/com/google/devtools/build/lib/buildtool/util/BUILD
Owners: @bazelbuild/configurability

Internal change
  src/java_tools/buildjar/java/com/google/devtools/build/buildjar/javac/statistics/BlazeJavacStatistics.java
Owners: @bazelbuild/java-team

Bazel uses D8 as the default desugarer
  src/test/shell/bazel/android/android_integration_test.sh
  tools/android/BUILD.tools
  tools/android/d8_desugar.sh
Owners: @ahumesky, @ted-xie

Add a property to disable the bootstrap classpath cache.
  src/java_tools/buildjar/java/com/google/devtools/build/buildjar/javac/BlazeJavacMain.java
Owners: @bazelbuild/java-team

Correctly report errors thrown by CommandLinePathFactory#create.
  src/main/java/com/google/devtools/build/lib/runtime/CommandLinePathFactory.java
  src/test/java/com/google/devtools/build/lib/runtime/CommandLinePathFactoryTest.java
Owners: none

Add convenience symlink for Skymeld.
  src/main/java/com/google/devtools/build/lib/buildtool/BuildTool.java
  src/main/java/com/google/devtools/build/lib/buildtool/ExecutionTool.java
Owners: none

Handle `alias` to a test with a self transition in `AggregatingTestListener`.
  src/main/java/com/google/devtools/build/lib/rules/AliasConfiguredTarget.java
  src/main/java/com/google/devtools/build/lib/runtime/AggregatingTestListener.java
Owners: @lberki

Put rules_license in the default workspaces for python testing.
  src/test/py/bazel/BUILD
  src/test/py/bazel/test_base.py
Owners: none

Remove additional references to DexFileMergerTest for bazel build
  src/test/java/com/google/devtools/build/android/r8/BUILD
Owners: @ahumesky, @ted-xie

Add rules_license to deps of shell/bazel tests. Use in java_tools_test.
  src/test/shell/bazel/BUILD
  src/test/shell/bazel/bazel_java_tools_test.sh
Owners: none

bazel config: show output path prefixes
  src/main/java/com/google/devtools/build/lib/runtime/commands/ConfigCommand.java
  src/main/java/com/google/devtools/build/lib/runtime/commands/ConfigCommandOutputFormatter.java
Owners: none

Separate workerAsResource and classic ways to execute request in worker.
  src/main/java/com/google/devtools/build/lib/worker/WorkerSpawnRunner.java
  src/test/java/com/google/devtools/build/lib/worker/BUILD
  src/test/java/com/google/devtools/build/lib/worker/WorkerSpawnRunnerTest.java
Owners: none

Reduce the scope of the static cache in `StarlarkRuleTransitionProvider`.
  src/main/java/com/google/devtools/build/lib/analysis/BUILD
  src/main/java/com/google/devtools/build/lib/analysis/config/StarlarkDefinedConfigTransition.java
  src/main/java/com/google/devtools/build/lib/analysis/starlark/StarlarkRuleTransitionProvider.java
Owners: @bazelbuild/configurability

Throw directly IOException from worker creation in WorkerFactory.
  src/main/java/com/google/devtools/build/lib/worker/WorkerFactory.java
Owners: none

Remove FileMergerTest
  src/test/java/com/google/devtools/build/android/r8/DexFileMergerTest.java
  src/test/java/com/google/devtools/build/android/r8/testdata/dexmergersample/Class1.java
  src/test/java/com/google/devtools/build/android/r8/testdata/dexmergersample/Class2.java
Owners: @ahumesky, @ted-xie

Fix the parameter name in Javadoc for `CommandLines::expand`.
  src/main/java/com/google/devtools/build/lib/actions/CommandLines.java
Owners: none

New CL addressing comments and suggestions made by Jason in commit 018c569318979fdff83d9b9e871348d1978a95cc
  site/en/tutorials/cpp.md
Owners: @gregestren, @philomathing, @fweikert

Fix an issue that `incompatible_remote_build_event_upload_respect_no_…
  src/main/java/com/google/devtools/build/lib/remote/ByteStreamBuildEventArtifactUploader.java
  src/test/shell/bazel/remote/remote_execution_test.sh
Owners: @bazelbuild/remote-execution

Deflake RemoteCacheTest
  src/main/java/com/google/devtools/build/lib/remote/RemoteExecutionCache.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteCacheTest.java
Owners: @bazelbuild/remote-execution

Fix doc reference to "java_plugin_configuration" to the correct name of "java_package_configuration."
  src/main/java/com/google/devtools/build/lib/rules/java/JavaToolchainProvider.java
Owners: @lberki

Add the Android dex library to Bazel, to support moving off of dx and moving to D8.
  third_party/android_dex/BUILD
  third_party/android_dex/NOTICE
  third_party/android_dex/README.txt
  third_party/android_dex/java/com/android/dex/Annotation.java
  third_party/android_dex/java/com/android/dex/CallSiteId.java
  third_party/android_dex/java/com/android/dex/ClassData.java
  third_party/android_dex/java/com/android/dex/ClassDef.java
  third_party/android_dex/java/com/android/dex/Code.java
  third_party/android_dex/java/com/android/dex/Dex.java
  third_party/android_dex/java/com/android/dex/DexException.java
  third_party/android_dex/java/com/android/dex/DexFormat.java
  third_party/android_dex/java/com/android/dex/DexIndexOverflowException.java
  third_party/android_dex/java/com/android/dex/EncodedValue.java
  third_party/android_dex/java/com/android/dex/EncodedValueCodec.java
  third_party/android_dex/java/com/android/dex/EncodedValueReader.java
  third_party/android_dex/java/com/android/dex/FieldId.java
  third_party/android_dex/java/com/android/dex/Leb128.java
  third_party/android_dex/java/com/android/dex/MethodHandle.java
  third_party/android_dex/java/com/android/dex/MethodId.java
  third_party/android_dex/java/com/android/dex/Mutf8.java
  third_party/android_dex/java/com/android/dex/ProtoId.java
  third_party/android_dex/java/com/android/dex/SizeOf.java
  third_party/android_dex/java/com/android/dex/TableOfContents.java
  third_party/android_dex/java/com/android/dex/TypeList.java
  third_party/android_dex/java/com/android/dex/util/ByteArrayByteInput.java
  third_party/android_dex/java/com/android/dex/util/ByteInput.java
  third_party/android_dex/java/com/android/dex/util/ByteOutput.java
  third_party/android_dex/java/com/android/dex/util/ExceptionWithContext.java
  third_party/android_dex/java/com/android/dex/util/FileUtils.java
  third_party/android_dex/java/com/android/dex/util/Unsigned.java
Owners: @ahumesky, @ted-xie
